.f-f-gotham-m {
  font-family: "GothamRounded-Medium"; }

.f-f-gotham-b {
  font-family: "GothamRounded-Book"; }

.f-f-gotham-l {
  font-family: "GothamRounded-Light"; }

@font-face {
  font-family: 'GothamRounded-Medium';
  src: url("../fonts/GothamRounded-Medium/GothamRounded-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Medium/GothamRounded-Medium.otf") format("opentype"), url("../fonts/GothamRounded-Medium/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium/GothamRounded-Medium.ttf") format("truetype"), url("../fonts/GothamRounded-Medium/GothamRounded-Medium.svg#GothamRounded-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Book';
  src: url("../fonts/GothamRounded-Book/GothamRounded-Book.otf") format("opentype"), url("../fonts/GothamRounded-Book/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamRounded-Book/GothamRounded-Book.svg#GothamRounded-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Light';
  src: url("../fonts/GothamRounded-Light/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Light/GothamRounded-Light.otf") format("opentype"), url("../fonts/GothamRounded-Light/GothamRounded-Light.woff") format("woff"), url("../fonts/GothamRounded-Light/GothamRounded-Light.ttf") format("truetype"), url("../fonts/GothamRounded-Light/GothamRounded-Light.svg#GothamRounded-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
.blue {
  background-color: #21409a; }

.magenta {
  background-color: #ed207a; }

.dark-blue {
  background-color: #192033; }

.dark-grey {
  background-color: #737680; }

.light-grey {
  background-color: #c2c4cc; }

.lighter-grey {
  background-color: #eaecf0; }

.facebook-color {
  background-color: #3b5998; }

.twitter-color {
  background-color: #00aced; }

.instagram-color {
  background-color: #c32aa3; }

.pinterest-color {
  background-color: #bd081c; }

.linkedin-color {
  background-color: #007bb6; }

.youtube-color {
  background-color: #f00; }

.google-plus-color {
  background-color: #db4437; }

.snapchat-color {
  background-color: #fffc00; }

.whatsapp-color {
  background-color: #25d366; }

.skype-color {
  background-color: #00aff0; }

.yahoo-color {
  background-color: #430297; }

.group-color {
  background-color: #415464; }

.verified {
  background-color: #00c853; }

.managers-color {
  background-color: #ff8400; }

.supplier-color {
  background-color: #8b8d4a; }

.client-color {
  background-color: #76236d; }

.resource-color {
  background-color: #a8353a; }

.delegates-color {
  background-color: #00609c; }

.white-color {
  background-color: #fff; }

.grey-color {
  background-color: #777; }

.error {
  background-color: #c91810; }

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
main,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  font-family: "GothamRounded-Book"; }

a:hover {
  color: #737680;
  text-decoration: none; }
a:focus {
  color: #737680;
  outline-offset: -2px;
  text-decoration: none; }

.clearfix {
  clear: both;
  content: '';
  display: table; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.blue {
  background-color: #21409a; }

.magenta {
  background-color: #ed207a; }

.dark-blue {
  background-color: #192033; }

.dark-grey {
  background-color: #737680; }

.light-grey {
  background-color: #c2c4cc; }

.lighter-grey {
  background-color: #eaecf0; }

.facebook-color {
  background-color: #3b5998; }

.twitter-color {
  background-color: #00aced; }

.instagram-color {
  background-color: #c32aa3; }

.pinterest-color {
  background-color: #bd081c; }

.linkedin-color {
  background-color: #007bb6; }

.youtube-color {
  background-color: #f00; }

.google-plus-color {
  background-color: #db4437; }

.snapchat-color {
  background-color: #fffc00; }

.whatsapp-color {
  background-color: #25d366; }

.skype-color {
  background-color: #00aff0; }

.yahoo-color {
  background-color: #430297; }

.group-color {
  background-color: #415464; }

.verified {
  background-color: #00c853; }

.managers-color {
  background-color: #ff8400; }

.supplier-color {
  background-color: #8b8d4a; }

.client-color {
  background-color: #76236d; }

.resource-color {
  background-color: #a8353a; }

.delegates-color {
  background-color: #00609c; }

.white-color {
  background-color: #fff; }

.grey-color {
  background-color: #777; }

.error {
  background-color: #c91810; }

.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.btn {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-default {
  background-color: transparent;
  border: 1px solid #ed207a;
  border-radius: 50px;
  color: #ed207a; }

.btn-primary {
  background-color: #ed207a;
  border: 1px solid #ed207a;
  border-radius: 50px;
  color: #fff; }
  .btn-primary:focus {
    background-color: transparent;
    border: 1px solid #ed207a;
    color: #ed207a; }
  .btn-primary:hover {
    background-color: transparent;
    border: 1px solid #ed207a;
    color: #ed207a; }

.btn-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
  border-radius: 50px;
  color: #fff; }
  .btn-success:focus {
    background-color: #449d44;
    border-color: #5cb85c;
    color: #fff; }
  .btn-success:hover {
    background-color: #449d44;
    color: #fff; }

.btn-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  border-radius: 50px;
  color: #fff; }
  .btn-warning:focus {
    background-color: #ec971f;
    border-color: #f0ad4e;
    color: #fff; }
  .btn-warning:hover {
    background-color: #ec971f;
    color: #fff; }

.btn-danger {
  background-color: #d9534f;
  border-color: #c9302c;
  border-radius: 50px;
  color: #fff; }
  .btn-danger:focus {
    background-color: #c9302c;
    border-color: #d9534f;
    color: #fff; }
  .btn-danger:hover {
    background-color: #c9302c;
    color: #fff; }

.modal-header {
  font-size: 18px; }

.inputfilewrapper .filename, .uploadedname {
  font-size: 16px; }

.font-xxsmall {
  font-size: 12px; }

.font-xxxlarge {
  font-size: 48px; }

.font-xxlarge {
  font-size: 42px; }

.font-xlarge {
  font-size: 36px; }

.font-large {
  font-size: 24px; }

.font-medium {
  font-size: 18px; }

.font-small {
  font-size: 16px; }

.font-xsmall {
  font-size: 14px; }

.xsmall-input {
  width: 70px; }

.medium-input {
  width: 175px; }

.large-input {
  width: 280px; }

.xlarge-input {
  width: 350px; }

.xxlarge-input {
  width: 420px; }

.xxxlarge-input {
  width: 490px; }

.full-width-input {
  width: 100%; }

.form-element {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #737680;
  color: #192033;
  display: inline-block;
  font-family: "GothamRounded-Medium";
  font-size: 16px;
  height: 28px;
  line-height: 18px;
  min-height: 28px;
  padding: 4px;
  text-align: left; }
  .form-element :focus {
    border-bottom: 1px solid #737680;
    outline: none; }

.xsmall-input, .large-input, .xlarge-input, .xxlarge-input, .xxxlarge-input, .full-width-input, .small-input, .input245, .form-textarea, .numberinputwrapper .form-number, .numberinputwrapper .form-number-value, .form-group input, .list-block .form-wrapper select {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #737680;
  color: #192033;
  display: inline-block;
  font-family: "GothamRounded-Medium";
  font-size: 16px;
  height: 28px;
  line-height: 18px;
  min-height: 28px;
  padding: 4px;
  text-align: left; }
  .xsmall-input:focus, .large-input:focus, .xlarge-input:focus, .xxlarge-input:focus, .xxxlarge-input:focus, .full-width-input:focus, .small-input:focus, .input245:focus, .form-textarea:focus, .numberinputwrapper .form-number:focus, .numberinputwrapper .form-number-value:focus, .form-group input:focus, .list-block .form-wrapper select:focus {
    border-bottom: 1px solid #737680;
    outline: none; }

.error-msg ~ span {
  color: #c91810;
  font-family: "GothamRounded-Medium";
  font-size: 14px;
  margin-top: -15px; }

input {
  -webkit-appearance: none;
  position: relative;
  touch-action: manipulation;
  transition: all .2s;
  z-index: 99; }
  input [type='text'][disabled] {
    background: transparent;
    border-color: #737680; }
  input [type='text'] {
    height: 28px \9; }
  input:placeholder-shown + .input-label {
    cursor: text;
    max-width: 66.66%;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(0, -1.5rem) scale(1);
    transform-origin: left top;
    white-space: nowrap; }

.small-input {
  width: 105px; }

.form-textarea {
  height: 84px;
  resize: none;
  width: 100%; }

.numberinputwrapper {
  display: inline-block;
  float: left;
  position: relative;
  width: auto; }
  .numberinputwrapper .form-number {
    opacity: 0; }
  .numberinputwrapper .form-number-value {
    border: 0;
    display: inline-block;
    float: left;
    height: 28px;
    left: 0;
    overflow: hidden;
    padding-right: 38px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    width: 100%;
    z-index: -1; }

[class^="col-fluid"] [class$="_select"] {
  width: 100%; }

.haseditbutton {
  float: left; }

::-webkit-input-placeholder {
  color: #192033;
  opacity: 0;
  transition: inherit; }

::-moz-placeholder {
  color: #192033;
  opacity: 1; }

:-ms-input-placeholder {
  color: #192033;
  opacity: 1; }

.xxxlarge-input::-webkit-input-placeholder {
  color: #192033; }

.xxxlarge-input::-moz-placeholder {
  color: #192033; }

.xxxlarge-input:-ms-input-placeholder {
  color: #192033; }

.full-width-input::-webkit-input-placeholder {
  color: #192033; }

.full-width-input::-moz-placeholder {
  color: #192033; }

.full-width-input:-ms-input-placeholder {
  color: #192033; }

.full-width-input:-webkit-autofill {
  background-color: #fff; }

input:focus::-webkit-input-placeholder {
  opacity: 1; }

input:not(:placeholder-shown) + .input-label,
input:focus + .input-label {
  cursor: pointer;
  transform: translate(0, -3rem) scale(1); }

label {
  letter-spacing: .05em;
  touch-action: manipulation;
  transition: all .2s; }
  label.input-label {
    position: relative;
    z-index: 0; }

input:focus {
  border-bottom: 1px solid #c2c4cc;
  outline: 0; }

select {
  -webkit-appearance: none;
  position: relative;
  z-index: 99; }

.form-group {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%; }
  .form-group label {
    color: #737680; }
  .form-group input {
    border-color: #c2c4cc;
    color: #21409a;
    width: 100%; }
  .form-group select {
    border-color: #c2c4cc;
    color: #21409a; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.color-box {
  float: left; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.display-center {
  display: table; }

.flex-center {
  display: flex;
  flex-direction: column; }

.block-center-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.block-display-center {
  color: #737680;
  text-align: center;
  width: 100%; }

.custom-browse-field {
  display: inline-block;
  overflow: hidden;
  position: relative; }

.border-right {
  background: #c2c4cc;
  margin: 0 auto;
  width: 1px; }

.height-custom {
  height: 100%; }

.fblock {
  display: inline-block;
  padding-bottom: 25px;
  width: 100%; }

.well-bg {
  background: #eaecf0;
  border-radius: 25px;
  padding: 30px; }

.my-offers .tabs, .my-offers-section .tabs, .color-box {
  text-align: center; }

.my-offers .tabs, .my-offers-section .tabs {
  display: table; }

[class*="col-"] {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  min-height: 1px;
  vertical-align: text-bottom; }

[class^="col-fluid"] {
  box-sizing: border-box;
  width: 100%; }

.container {
  display: table;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 767px) and (max-width: 991px) {
    .container {
      max-width: 100%;
      padding: 0; } }
  @media (min-width: 992px) {
    .container {
      max-width: 100%;
      width: 100%; } }
  .container .row {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }

.column {
  display: inline;
  float: left;
  margin: 0 0;
  overflow: hidden; }

.row + .row {
  margin-top: 7px; }

.row-fluid-15 {
  width: 100%; }

.row-fluid-15::before,
.row-fluid-15::after {
  content: '';
  display: table;
  line-height: 0; }

.row-fluid-15::after {
  clear: both; }

.col-15,
.col-14,
.col-13,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-1,
.col-2 {
  margin: 0;
  width: 100%; }

@media only screen and (min-width: 640px) {
  .container .row {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: auto; } }
@media screen and (min-width: 992px) {
  .col-1 {
    float: left;
    margin-left: 0;
    width: 90px; }

  .col-2 {
    float: left;
    margin-left: 0;
    width: 180px; }

  .col-3 {
    float: left;
    margin-left: 0;
    width: 270px; }

  .col-4 {
    float: left;
    margin-left: 0;
    width: 360px; }

  .col-5 {
    float: left;
    margin-left: 0;
    width: 450px; }

  .col-6 {
    float: left;
    margin-left: 0;
    width: 540px; }

  .col-7 {
    float: left;
    margin-left: 0;
    width: 630px; }

  .col-8 {
    float: left;
    margin-left: 0;
    width: 720px; }

  .col-9 {
    float: left;
    margin-left: 0;
    width: 810px; }

  .col-10 {
    float: left;
    margin-left: 0;
    width: 900px; }

  .col-11 {
    float: left;
    margin-left: 0;
    width: 990px; }

  .col-12 {
    float: left;
    margin-left: 0;
    width: 1080px; }

  .col-fluid-1 {
    float: left;
    width: 8.3333333333%; }

  .col-fluid-2 {
    float: left;
    width: 16.6666666667%; }

  .col-fluid-3 {
    float: left;
    width: 25%; }

  .col-fluid-4 {
    float: left;
    width: 33.3333333333%; }

  .col-fluid-5 {
    float: left;
    width: 41.6666666667%; }

  .col-fluid-6 {
    float: left;
    width: 50%; }

  .col-fluid-7 {
    float: left;
    width: 58.3333333333%; }

  .col-fluid-8 {
    float: left;
    width: 66.6666666667%; }

  .col-fluid-9 {
    float: left;
    width: 75%; }

  .col-fluid-10 {
    float: left;
    width: 83.3333333333%; }

  .col-fluid-11 {
    float: left;
    width: 91.6666666667%; }

  .col-fluid-12 {
    float: left;
    width: 100%; }

  .row-fluid {
    float: left;
    width: 100%; }

  .row-fluid::before,
  .row-fluid::after {
    content: '';
    display: table;
    line-height: 0; }

  .row-fluid::after {
    clear: both; } }
.form-wrapper {
  max-width: 630px;
  width: 100%; }

.checkbox[type='checkbox'] {
  display: none; }
  .checkbox[type='checkbox'] + .form-label::before {
    background: #737680;
    content: '';
    display: block;
    float: left;
    font-size: 16px;
    height: 18px;
    left: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    width: 18px; }
  .checkbox[type='checkbox'] + .form-label:hover::before {
    background: #737680;
    content: '';
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    width: 18px; }

.checkbox[type='checkbox'] + .form-label,
.radiobutton[type='radio'] + .form-label {
  cursor: pointer;
  display: table;
  padding-left: 28px;
  position: relative;
  text-indent: -1px; }

.checkbox[type='checkbox'] + .form-label span,
.radiobutton[type='radio'] + .form-label span {
  display: inline-block;
  float: left;
  line-height: 12px;
  margin: 4px 0 2px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  word-wrap: break-word; }

.checkbox[type='checkbox']:checked + .form-label::before {
  background: #737680;
  color: #fff;
  content: '\e80a';
  font-family: 'fontello';
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-indent: 1px; }

.radiodiv {
  display: inline-block;
  float: left;
  height: 28px;
  min-width: 105px;
  padding: 5px 0;
  width: auto; }

.radiobutton[type='radio'] {
  display: none; }
  .radiobutton[type='radio'] + .form-label::before {
    background-image: url("../images/radioButton1.png");
    background-size: cover;
    content: '';
    display: inline-block;
    float: left;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px; }
  .radiobutton[type='radio'] + .form-label:hover::before {
    background-image: url("../images/radioButton-fill.png"); }

.radiobutton[type='radio']:checked + .form-label::before {
  background-image: url("../images/radioButton-fill.png"); }

.rating {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 5px 0;
  position: relative; }

.custom-rating[type='radio'] {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 18px; }

.custom-rating {
  background: url("../images/star2.png");
  display: block;
  float: right;
  height: 18px;
  margin: 0 5px 0 0;
  width: 18px; }
  .custom-rating.selected {
    background: url("../images/star1.png"); }

.custom-rating:first-child {
  margin-right: 0; }

.custom-rating:hover,
.custom-rating:hover ~ .custom-rating,
.custom-rating:checked ~ .custom-rating,
.custom-rating.selected ~ .custom-rating {
  background: url("../images/star1.png"); }

button.close {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0; }

.modal-open {
  overflow: hidden; }
  .modal-open.modal {
    overflow-x: hidden;
    overflow-y: auto; }

.modal {
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1050; }
  .modal.in.modal-dialog {
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  .modal .modal-dialog {
    -ms-transform: translate(0, -2%);
    -o-transform: translate(0, -2%);
    -webkit-transform: translate(0, -2%);
    transform: translate(0, -2%);
    -o-transition: -o-transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out; }

.modal-dialog {
  left: 35%;
  margin: 10px auto;
  position: absolute;
  top: 10%;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 280px; }

@media screen and (min-width: 630px) {
  .modal-dialog {
    width: 490px; } }
.modal-content {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  overflow: hidden;
  position: relative; }

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1040; }
  .modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0; }
  .modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8; }

.fade {
  opacity: 0;
  -o-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }
  .fade.signup-popup.in {
    opacity: 1; }

.modal-header {
  background: #737680;
  color: #fff;
  display: inline-block;
  float: left;
  line-height: 24px;
  padding-bottom: 22px;
  padding-top: 22px;
  width: 100%; }
  .modal-header.close {
    margin-top: -2px; }

.modal-title {
  line-height: 1.42857143;
  margin: 0;
  text-align: left; }

.modal-body {
  background: #fff;
  display: inline-block;
  float: left;
  padding-top: 15px;
  position: relative;
  width: 100%; }

.modal-body-content {
  padding-bottom: 30px; }

.modal-footer {
  background: #c2c4cc;
  display: inline-block;
  float: left;
  width: 100%; }

@media (min-width: 630px) {
  .modal-sm {
    width: 300px; }

  .modal-mid {
    width: 500px; } }
.tabs {
  background: #fff;
  border-radius: 25px;
  max-width: 100%;
  padding: 0;
  width: 900px; }
  @media (min-width: 767px) and (max-width: 991px) {
    .tabs {
      width: 100%; } }
  .tabs li {
    display: inline-block;
    width: 20%; }
    .tabs li a {
      color: #192033;
      font-family: "GothamRounded-Medium";
      font-size: 16px;
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: center;
      text-decoration: none; }

.list-block .form-wrapper {
  background: #fff;
  margin-top: 25px; }

.mob-tab .active {
  display: block; }
.mob-tab .hide {
  display: none; }

.activelink {
  background: #ed207a;
  border-radius: 25px;
  color: #fff !important; }

@media (max-width: 767px) {
  .container .tabs {
    text-align: center;
    width: 100%; } }
@media (max-width: 767px) {
  .container li a {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px; } }

.customfilewrapper {
  height: 28px;
  overflow: hidden;
  position: relative; }
  .customfilewrapper input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1; }

.inputfilebtn {
  background: url("./../images/file.png") no-repeat;
  background-position: 98% center;
  border: 1px dashed #777;
  color: #777;
  font-size: 16px;
  height: 100%;
  left: 0;
  line-height: 18px;
  padding: 4px 10px;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0; }

.inputfilewrapper {
  margin-top: 7px; }
  .inputfilewrapper .filename {
    background: #777;
    color: #777;
    float: left;
    margin-top: 7px;
    max-width: auto;
    padding: 5px 10px; }
    .inputfilewrapper .filename span {
      cursor: pointer;
      word-wrap: break-word; }

.filename:first-child {
  margin-top: 0; }

.filename span:last-child {
  float: right; }

.filename span:first-child {
  cursor: default;
  float: left;
  margin-left: 0; }

.uploadedname {
  background: #737680;
  color: #fff;
  float: left;
  margin-top: 7px;
  max-width: 200px;
  padding: 5px 25px 5px 10px;
  position: relative;
  word-break: break-all;
  word-wrap: break-word; }
  .uploadedname span {
    cursor: pointer;
    word-wrap: break-word; }
  .uploadedname:first-child {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0; }
  .uploadedname span:last-child {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%); }
  .uploadedname span:first-child {
    cursor: default;
    float: left;
    margin-left: 0;
    min-width: 140px; }

.crosslable {
  background: #737680 none repeat scroll 0% 0%;
  border-radius: 5px;
  color: #fff;
  float: left;
  font-size: 18px;
  margin-top: 7px;
  padding: 10px 25px 10px 10px;
  position: relative;
  width: 200px;
  word-break: break-all;
  word-wrap: break-word; }
  .crosslable span {
    cursor: pointer;
    line-height: 18px;
    word-wrap: break-word; }

.cross-block:last-child {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }
  .cross-block:last-child:hover {
    opacity: .5; }

.small-select {
  width: 70px; }

.medium-select {
  width: 175px; }

.large-select {
  width: 280px; }

.xlarge-select {
  width: 350px; }

.xxlarge-select {
  width: 420px; }

.select-width {
  width: 245px; }

.customselectinner {
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.customselectwrapper {
  display: inline-block;
  float: left;
  position: relative;
  width: auto; }

.custom-select {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #737680;
  box-shadow: none;
  color: #192033;
  font-family: "GothamRounded-Medium";
  font-size: 16px;
  height: 28px;
  left: 0;
  outline: none;
  top: 0;
  z-index: 1; }
  .custom-select option:disabled {
    display: none; }
  .custom-select option {
    font-size: 16px;
    padding: 5px; }

.select-wrapper {
  position: relative; }
  .select-wrapper::after {
    background: url("~packs/images/down-arrow.png");
    content: '';
    float: right;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px; }
  .select-wrapper select {
    cursor: pointer; }

textarea:placeholder-shown + .input-label {
  cursor: text;
  max-width: 66.66%;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translate(0, -1.5rem) scale(1);
  transform-origin: left top;
  white-space: nowrap; }

:-webkit-textarea-placeholder {
  opacity: 0;
  transition: inherit; }

textarea:focus:-webkit-textarea-placeholder {
  opacity: 1; }

textarea:not(:placeholder-shown) + .input-label,
textarea:focus + .input-label {
  cursor: pointer;
  transform: translate(0, -7rem) scale(1); }

textarea {
  -webkit-appearance: none;
  position: relative;
  touch-action: manipulation;
  transition: all .2s;
  z-index: 99; }
  textarea:focus {
    border-bottom: 1px solid #c2c4cc;
    outline: 0; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt35 {
  padding-top: 35px; }

.pt40 {
  padding-top: 40px; }

.pt45 {
  padding-top: 45px; }

.pt50 {
  padding-top: 50px; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb35 {
  padding-bottom: 35px; }

.pb40 {
  padding-bottom: 40px; }

.pb45 {
  padding-bottom: 45px; }

.pb50 {
  padding-bottom: 50px; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.pl35 {
  padding-left: 35px; }

.pl40 {
  padding-left: 40px; }

.pl45 {
  padding-left: 45px; }

.pl50 {
  padding-left: 50px; }

.pl00 {
  padding-left: 100px; }

.pl70 {
  padding-left: 70px; }

.pl62 {
  padding-left: 62px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr25 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px; }

.pr35 {
  padding-right: 35px; }

.pr40 {
  padding-right: 40px; }

.pr45 {
  padding-right: 45px; }

.pr50 {
  padding-right: 50px; }

.pr60 {
  padding-right: 60px; }

.pr70 {
  padding-right: 70px; }

.pr100 {
  padding-right: 100px; }

.pr62 {
  padding-right: 62px; }

.pad5 {
  padding: 5px; }

.pad10 {
  padding: 10px; }

.pad15 {
  padding: 15px; }

.pad25 {
  padding: 25px; }

.pad30 {
  padding: 30px; }

.pad35 {
  padding: 35px; }

.color-box, .padding-classes h3, .raw-classes h3 {
  padding: 5px; }

.modal-header, .modal-body-content, .modal-footer {
  padding: 35px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt45 {
  margin-top: 45px; }

.mt50 {
  margin-top: 50px; }

.mt100 {
  margin-top: 100px; }

.mt-100 {
  margin-top: -100px; }

.modal-body.labeldiv, .raw-classes p {
  margin-top: 5px; }

.color-box {
  margin-top: 10px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb50 {
  margin-bottom: 50px; }

.mb100 {
  margin-bottom: 100px; }

.raw-classes p {
  margin-bottom: 5px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr35 {
  margin-right: 35px; }

.mr40 {
  margin-right: 40px; }

.mr45 {
  margin-right: 45px; }

.mr50 {
  margin-right: 50px; }

.btn {
  margin-right: 15px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.ml35 {
  margin-left: 35px; }

.ml40 {
  margin-left: 40px; }

.ml45 {
  margin-left: 45px; }

.ml50 {
  margin-left: 50px; }

.m-0-auto {
  margin: 0 auto; }

.inputfilewrapper .filename span {
  margin-left: 5px; }

.display-center, .my-offers .tabs, .my-offers-section .tabs {
  margin: 0 auto; }

html {
  height: 100%; }
  @media (max-width: 767px) {
    html {
      height: auto; } }
  @media (min-width: 767px) and (max-width: 991px) {
    html {
      height: auto; } }

body {
  height: 100%; }
  @media (max-width: 767px) {
    body {
      height: auto; } }
  @media (min-width: 767px) and (max-width: 991px) {
    body {
      height: auto; } }

.wrapper {
  height: 100%; }
  @media (max-width: 767px) {
    .wrapper {
      height: auto; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .wrapper {
      height: auto; } }

.col-fluid-3 {
  height: 100%; }
  @media (max-width: 767px) {
    .col-fluid-3 {
      height: auto; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .col-fluid-3 {
      height: auto; } }

.login-wrapper {
  height: 100%; }
  @media (max-width: 767px) {
    .login-wrapper {
      height: auto; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .login-wrapper {
      height: auto; } }

.auth-d-left {
  background: #21409a;
  height: 100%;
  padding: 50px; }
  .auth-d-left img {
    max-width: 100%; }

.right-block {
  height: 100%;
  padding: 60px; }
  @media (max-width: 767px) {
    .right-block {
      padding: 20px; } }
  @media (max-width: 767px) {
    .right-block {
      height: auto; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .right-block {
      height: auto; } }
  .right-block .heading-block {
    padding-bottom: 50px; }
    .right-block .heading-block h2 {
      font-size: 36px; }
    .right-block .heading-block span {
      @extent %mediumValue;
      color: #737680; }
  .right-block .bottom-image {
    bottom: 0;
    position: absolute;
    right: 0; }
    @media (max-width: 767px) {
      .right-block .bottom-image {
        display: none; } }
    @media (min-width: 767px) and (max-width: 991px) {
      .right-block .bottom-image {
        width: 20%; } }
    .right-block .bottom-image img {
      float: right;
      max-width: 50%; }

.form-group {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%; }
  .form-group label {
    color: #737680; }
  .form-group input {
    border-color: #c2c4cc;
    color: #192033;
    width: 100%; }
  .form-group select {
    border-color: #c2c4cc;
    color: #21409a; }

.fa-eye {
  background: url("./../images/eye.png") no-repeat;
  content: '';
  float: right;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 4px;
  width: 26px;
  z-index: 999; }

.fa-eye-slash {
  background: url("./../images/eye-slash.png") no-repeat;
  content: '';
  float: right;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 4px;
  width: 26px;
  z-index: 999; }

.f-password {
  color: #ed207a; }

.login-btn {
  padding-top: 45px; }
  .login-btn button {
    padding: 15px;
    width: 420px; }
    @media (max-width: 767px) {
      .login-btn button {
        width: 100%; } }
  .login-btn span {
    color: #c2c4cc;
    text-align: center;
    width: 100%; }
    .login-btn span a {
      color: #ed207a;
      padding-left: 5px;
      text-decoration: none; }

.enter-otp {
  color: #737680;
  @extent %mediumValue; }

.otp-wrapper {
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%; }
  .otp-wrapper input {
    font-size: 24px;
    text-align: center; }

.resend-b {
  color: #ed207a;
  font-weight: 700;
  padding-left: 5px;
  text-decoration: none; }

.mpin-btn .mb25 {
  margin-bottom: 25px; }

.upload-btn-wrapper .upload-b-field {
  bottom: 10px;
  cursor: pointer;
  height: 46px;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 80px; }

.camera-block {
  background: none;
  border: 0;
  bottom: 0;
  position: absolute;
  right: 0; }
  .camera-block img {
    float: right;
    max-width: 80%; }

.create-profile h2 {
  color: #ed207a; }

.custom-browse-field .user-img {
  border-radius: 50%;
  height: 105px;
  width: 105px; }

.create-profile-form {
  display: inline-block;
  max-width: 100%;
  padding-top: 50px; }
  .create-profile-form button {
    width: 100%; }

.verify {
  color: #ed207a;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 5px;
  z-index: 99; }

.select-wrapper {
  position: relative; }
  .select-wrapper::after {
    background: url("../images/down-arrow.png");
    content: '';
    float: right;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px; }
  .select-wrapper select {
    -moz-appearance: none;
    cursor: pointer; }

.kyc-wrapper span {
  color: #737680; }

.upload-b {
  background: #fff;
  border: 1px #737680 dashed;
  border-radius: 10px;
  height: 70px; }
  .upload-b .document-img {
    height: 68px;
    width: 135px; }
  .upload-b .camera-block {
    right: 36%;
    text-align: center;
    top: 0;
    width: 100%; }

.upload-document .upload-b-field {
  bottom: 0;
  cursor: pointer;
  height: 46px;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 80px; }
.upload-document img {
  max-width: 100%; }

.upload-btn-f button {
  width: 100%; }

@media (max-width: 767px) {
  .pad-none {
    padding: 0; } }

body {
  background: #eaecf0; }

.edit-profile {
  background: #fff;
  display: inline-block;
  width: 100%; }
  @media (max-width: 767px) {
    .edit-profile .col-fluid-4 {
      margin-bottom: 20px; } }
  .edit-profile .container {
    position: relative;
    width: 100%; }
    @media (min-width: 992px) {
      .edit-profile .container {
        width: 100%; } }
    @media (min-width: 767px) and (max-width: 991px) {
      .edit-profile .container {
        width: 100%; } }
  .edit-profile p {
    line-height: 25px; }
  .edit-profile .number {
    color: #192033;
    font-size: 18px;
    font-weight: bold; }
  .edit-profile .trades {
    color: #192033;
    font-size: 16px; }
  .edit-profile .user-name {
    font-family: "GothamRounded-Medium"; }
  .edit-profile .user-account {
    margin-top: -100px; }
  .edit-profile .edit-button {
    position: absolute;
    right: 10px;
    top: -75px; }
    .edit-profile .edit-button a {
      color: #192033;
      font-family: "GothamRounded-Medium";
      font-size: 14px;
      text-decoration: none; }
    .edit-profile .edit-button img {
      position: relative;
      top: -5px; }

.container .list select {
  border-color: #c2c4cc;
  width: 100%; }

.list .form-wrapper {
  border-radius: 15px;
  margin-bottom: 100px; }
  @media (max-width: 767px) {
    .list .form-wrapper {
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px; } }
  .list .form-wrapper .verify {
    color: #00c853;
    font-family: "GothamRounded-Medium"; }
  .list .form-wrapper .color-white {
    color: #fff; }

.list-block .verify-button {
  color: #fff;
  margin-right: 0;
  top: -10px; }
  .list-block .verify-button:hover {
    color: #ed207a; }
.list-block .box-flow {
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase; }

.verify-img {
  position: relative;
  top: 5px; }

.profile-page {
  height: 100%; }
  @media (max-width: 767px) {
    .profile-page {
      padding: 0 15px; } }

.trades-block .container {
  padding: 0 15px;
  max-width: 1280px; }
  .trades-block .container span {
    display: inline-block; }

.font-bold {
  font-weight: bold; }

.rating-block {
  background: #fff;
  border-radius: 15px; }
  .rating-block span {
    display: inline-block; }

body {
  background: #eaecf0; }

.list .form-wrapper {
  background: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 25px; }

.btn-profile .col-fluid-6 {
  width: 50%; }
  .btn-profile .col-fluid-6 button {
    width: 215px; }
    @media (max-width: 767px) {
      .btn-profile .col-fluid-6 button {
        width: 100%; } }

.edit-profile-wrapper {
  height: 100%; }
  .edit-profile-wrapper .edit-profile-block {
    height: 100%; }
    @media (max-width: 767px) {
      .edit-profile-wrapper .edit-profile-block {
        padding: 40px 15px; } }

.select-wrapper .country-select {
  border-color: #c2c4cc !important;
  width: 100%; }

@media (max-width: 767px) {
  .lname-b {
    padding-left: 0; } }

body {
  background: #eaecf0; }

.list .form-wrapper {
  background: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 25px; }

.sub-heading h3 {
  color: #21409a; }

.setting-btn button {
  float: right;
  padding: 10px;
  width: 140px; }

.desc-block {
  padding-bottom: 0; }

.rating-desc .btn-primary:hover {
  background-color: #ed207a; }

.five-rating {
  background: #c2c4cc;
  color: #ed207a;
  height: 3px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: -4px;
  width: 60%; }
  .five-rating .full-rate {
    background: #ed207a;
    height: 3px;
    position: absolute; }

.five-rate {
  width: 75%; }

.four-rate {
  width: 65%; }

.three-rate {
  width: 55%; }

.two-rate {
  width: 45%; }

.one-rate {
  width: 35%; }

@media (max-width: 767px) {
  .star-counting {
    padding: 0 15px; } }
@media (max-width: 767px) {
  .star-counting .five-rating {
    width: 75%; } }

@media (min-width: 767px) and (max-width: 991px) {
  .tablet-block {
    width: 25%; } }

.trade-block .font-xsmall {
  color: #737680; }
.trade-block .font-small {
  color: #737680; }
.trade-block .col-fluid-3 .font-small {
  color: #737680; }
@media (max-width: 767px) {
  .trade-block .col-fluid-3 {
    margin-bottom: 15px; } }
@media (min-width: 767px) and (max-width: 991px) {
  .trade-block .col-fluid-3 {
    width: 25%; } }
@media (min-width: 767px) and (max-width: 991px) {
  .trade-block .col-fluid-2 {
    width: 16.66%; } }
@media (min-width: 767px) and (max-width: 991px) {
  .trade-block .col-fluid-4 {
    width: 33.33%; } }
@media (min-width: 767px) and (max-width: 991px) {
  .trade-block .font-medium {
    font-size: 16px; } }

@media (max-width: 767px) {
  .content-center {
    text-align: center; } }

.rating-block:last-child {
  margin-bottom: 30px; }

.bitcoin-block span {
  vertical-align: top; }
  .bitcoin-block span img {
    position: relative;
    top: -2px; }
@media (max-width: 767px) {
  .bitcoin-block .rating-block {
    margin-bottom: 0; } }

.currency-block {
  border-bottom: 1px solid #c2c4cc;
  padding-bottom: 10px; }

@media (min-width: 767px) and (max-width: 991px) {
  .trades-block .col-fluid-6 {
    width: 50%; } }
@media (max-width: 767px) {
  .trades-block .col-fluid-6 {
    padding: 0; } }

.my-offer-block .container {
  margin: 0 auto;
  max-width: 1280px; }

.my-offers .tabs {
  width: auto; }
  .my-offers .tabs li {
    width: auto; }

.tab-block .offer-tabs a {
  padding: 10px 46px; }
  @media (max-width: 767px) {
    .tab-block .offer-tabs a {
      padding: 10px 23px; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .tab-block .offer-tabs a {
      padding: 10px 38px; } }

.trade-block .col-fluid-3 {
  width: 25%; }
  @media (max-width: 767px) {
    .trade-block .col-fluid-3 {
      width: 100%; } }
.trade-block p {
  font-size: 18px; }

.sel {
  color: #ed207a;
  min-height: 40px;
  position: relative; }
  .sel .options {
    background-color: #eaecf0;
    border-radius: 10px;
    left: -24px;
    position: absolute;
    top: 40px;
    width: 117px; }
    .sel .options a {
      color: #000;
      padding: 10px;
      text-decoration: none; }

.txt {
  padding: 10px; }
  .txt span {
    color: #ed207a;
    padding-right: 10px; }
  .txt img {
    margin-top: 4px; }

.hide {
  display: none; }

.before-arrow {
  position: relative; }
  .before-arrow::before {
    border-bottom: 5px solid #eaecf0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0; }
  .before-arrow span {
    padding-left: 10px; }

.create-offer a {
  background: #ed207a;
  border-radius: 25px;
  color: #fff;
  padding: 9px 19px;
  text-decoration: none; }

.top-offers-b {
  position: relative; }
  .top-offers-b .anchor-block {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.select-block-field .anchor-block {
  position: inherit; }

.my-offers-section {
  height: 100%; }
  .my-offers-section .tabs {
    width: auto; }
    .my-offers-section .tabs li {
      width: auto; }
  .my-offers-section .container {
    height: 100%; }

.tab-block {
  height: 100%; }
  .tab-block .offer-tabs a {
    padding: 10px 46px; }
    @media (max-width: 767px) {
      .tab-block .offer-tabs a {
        padding: 10px 23px; } }
    @media (min-width: 767px) and (max-width: 991px) {
      .tab-block .offer-tabs a {
        padding: 10px 38px; } }

.my-offer-details .container {
  max-width: 702px;
  width: 100%; }
  @media (max-width: 767px) {
    .my-offer-details .container {
      padding-left: 15px;
      padding-right: 15px; } }

.thumbnail {
  background: #fff;
  border-radius: 25px; }

.offer-detail-heading h3 {
  background: #21409a;
  border-radius: 25px 25px 0 0;
  color: #fff;
  padding: 15px 0 15px; }

.payment-detail-heading h3 {
  background: #21409a;
  color: #fff;
  padding: 10px 0 10px; }

.grey-field {
  color: #c2c4cc; }

.value-f {
  font-weight: 700; }

.detail-wrapper-f ul {
  padding: 0 100px; }
  @media (max-width: 767px) {
    .detail-wrapper-f ul {
      padding-left: 15px;
      padding-right: 15px; } }
  .detail-wrapper-f ul span {
    font-size: 18px;
    text-align: left; }
    @media (max-width: 767px) {
      .detail-wrapper-f ul span {
        font-size: 14px;
        width: 50%; } }
    @media (min-width: 767px) and (max-width: 991px) {
      .detail-wrapper-f ul span {
        width: 50%; } }

.txt {
  padding: 10px; }
  .txt span {
    color: #ed207a;
    padding-right: 10px; }
  .txt img {
    margin-top: 4px; }

.hide {
  display: none; }

.before-arrow {
  position: relative; }
  .before-arrow::before {
    border-bottom: 5px solid #eaecf0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0; }
  .before-arrow span {
    padding-left: 10px; }

.my-offers-section {
  height: 100%; }
  .my-offers-section .tabs {
    width: auto; }
    .my-offers-section .tabs li {
      width: auto; }
  .my-offers-section .container {
    height: 100%; }

.tab-block {
  height: 100%; }
  .tab-block .offer-tabs a {
    padding: 10px 46px; }
    @media (max-width: 767px) {
      .tab-block .offer-tabs a {
        padding: 10px 23px; } }
    @media (min-width: 767px) and (max-width: 991px) {
      .tab-block .offer-tabs a {
        padding: 10px 38px; } }

.my-offer-details .container {
  max-width: 702px;
  width: 100%; }
  @media (max-width: 767px) {
    .my-offer-details .container {
      padding-left: 15px;
      padding-right: 15px; } }

.thumbnail {
  background: #fff;
  border-radius: 25px; }

.offer-detail-heading h3 {
  background: #21409a;
  border-radius: 25px 25px 0 0;
  color: #fff;
  padding: 15px 0 15px; }

.payment-detail-heading h3 {
  background: #21409a;
  color: #fff;
  padding: 10px 0 10px; }

.create-offer-tabs {
  border: 2px #21409a solid;
  border-radius: 25px;
  padding: 5px; }
  .create-offer-tabs li {
    float: left; }
    .create-offer-tabs li a {
      color: #21409a;
      padding: 10px 16px !important;
      text-decoration: none; }

.activebitcoin {
  background: #21409a;
  border-radius: 25px;
  color: #fff !important; }
  .activebitcoin .circle-bg {
    background: #fff; }
    .activebitcoin .circle-bg img {
      filter: brightness(1.2);
      margin: 4px auto; }

.circle-bg {
  background: #21409a;
  border-radius: 50%;
  height: 27px;
  left: -10px;
  position: relative;
  top: -4px;
  width: 27px; }
  .circle-bg img {
    filter: brightness(10);
    margin: 5px auto; }

.main-offer-block h3 {
  font-weight: 500; }
  .main-offer-block h3 span {
    font-weight: 700; }
@media (max-width: 767px) {
  .main-offer-block p {
    font-size: 12px; } }

.amount-field-block {
  margin: 35px auto;
  max-width: 490px; }

.input-label {
  transform: inherit; }
  @media (max-width: 767px) {
    .input-label {
      font-size: 14px; } }

.change {
  background: #ed207a;
  border-radius: 25px;
  color: #fff;
  padding: 6px 16px;
  text-decoration: none; }
  @media (max-width: 767px) {
    .change {
      font-size: 12px;
      padding: 5px; } }

.payment-info h3 {
  font-weight: 700; }

.bank-transfer h3 {
  color: #ed207a; }

/*create-detail-2*/
.acc-detail-section .well-bg {
  border-radius: 10px; }

.my-offers-section {
  height: 100%; }
  .my-offers-section .tabs {
    width: auto; }
    .my-offers-section .tabs li {
      width: auto; }
  .my-offers-section .container {
    height: 100%; }

.tab-block {
  height: 100%; }
  .tab-block .offer-tabs a {
    padding: 10px 46px; }
    @media (max-width: 767px) {
      .tab-block .offer-tabs a {
        padding: 10px 23px; } }
    @media (min-width: 767px) and (max-width: 991px) {
      .tab-block .offer-tabs a {
        padding: 10px 38px; } }

.my-offer-details .container {
  max-width: 702px;
  width: 100%; }
  @media (max-width: 767px) {
    .my-offer-details .container {
      padding-left: 15px;
      padding-right: 15px; } }

.thumbnail {
  background: #fff;
  border-radius: 25px; }

.offer-detail-heading h3 {
  background: #21409a;
  border-radius: 25px 25px 0 0;
  color: #fff;
  padding: 15px 0 15px; }

.payment-detail-heading h3 {
  background: #21409a;
  color: #fff;
  padding: 10px 0 10px; }

.bank-acc-info {
  margin: 50px auto;
  max-width: 490px; }

.open-trade-wrapper {
  background: #fff;
  box-shadow: 0 -2px 17px #737680; }
  @media (max-width: 767px) {
    .open-trade-wrapper {
      text-align: center; } }
  .open-trade-wrapper .container {
    margin: 0 auto;
    max-width: 1280px; }

.left-trades h3 {
  font-weight: 500; }
  .left-trades h3 b {
    display: inline-block;
    font-weight: 700; }

.sel {
  color: #ed207a;
  min-height: 40px;
  position: relative; }
  .sel .options {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px #737680;
    left: 0;
    position: absolute;
    top: 47px;
    width: 117px;
    z-index: 9; }
    .sel .options a {
      color: #000;
      padding: 10px;
      text-decoration: none; }

@media (max-width: 767px) {
  .filter-dropdown {
    padding: 10px;
    width: 100%; } }
.filter-dropdown p {
  background: #ed207a;
  border-radius: 25px;
  color: #fff;
  padding: 9px 19px;
  position: relative;
  text-decoration: none; }
.filter-dropdown span {
  color: #000; }

.before-arrow {
  position: relative; }
  .before-arrow::before {
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0; }
  .before-arrow span {
    padding-left: 10px; }

.dropdwon-filter {
  position: relative; }
  .dropdwon-filter img {
    margin-top: 0; }

.trade-block .user-icon {
  display: inline-block;
  float: none;
  vertical-align: top; }
@media (max-width: 767px) {
  .trade-block .col-fluid-2 {
    padding: 10px; } }
@media (max-width: 767px) {
  .trade-block .col-fluid-3 {
    padding: 10px; } }

.buy-btn a {
  background: #ed207a;
  border-radius: 25px;
  color: #fff;
  padding: 9px 26px;
  text-align: center;
  text-decoration: none; }
  @media (max-width: 767px) {
    .buy-btn a {
      width: 100%; } }
  .buy-btn a:hover {
    background: none;
    border: 2px #ed207a solid;
    color: #ed207a; }

.sell-btn .eth-field {
  display: inline-block;
  padding: 15px;
  width: 100%; }

@media (max-width: 767px) {
  .top-offers-b p {
    display: inline-block;
    width: 100%; } }

.main-trade-block {
  padding: 0 15px; }
  @media (min-width: 767px) and (max-width: 991px) {
    .main-trade-block .col-fluid-7 {
      width: 50%; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .main-trade-block .col-fluid-5 {
      width: 50%; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .main-trade-block .col-fluid-6 {
      width: 50%; } }

.detail-wrapper .payment-detail-wrapper {
  padding: 0 100px; }
  @media (max-width: 767px) {
    .detail-wrapper .payment-detail-wrapper {
      padding: 0 15px; } }

.timer {
  background: #eaecf0;
  border-radius: 10px;
  padding: 15px 50px; }
  .timer span {
    display: inline-block; }

.clock-img {
  margin-right: 2px;
  position: relative;
  top: 5px; }

.set-time {
  font-size: 24px;
  font-weight: 700; }

.payment-option .form-group input {
  border-color: #828899; }

.account-detail {
  padding: 0 30px; }
  @media (max-width: 767px) {
    .account-detail {
      padding: 0; } }
  .account-detail li {
    border-bottom: 1px solid #828899;
    padding: 15px 0; }
    .account-detail li:last-child {
      border-bottom: 0; }

.imp-note {
  font-size: 14px; }

.accnt-val {
  font-size: 18px;
  font-weight: 700; }
  @media (max-width: 767px) {
    .accnt-val {
      font-size: 14px; } }

.fblock .cancel-btn {
  background: #eaecf0;
  border: 0;
  color: #192033; }
  @media (max-width: 767px) {
    .fblock .cancel-btn {
      margin-top: 15px; } }

.payment-buttons {
  padding: 0 30px; }

@media (max-width: 767px) {
  .payment-block .col-fluid-6 {
    float: left;
    width: 50%; } }
@media (min-width: 767px) and (max-width: 991px) {
  .payment-block .col-fluid-6 {
    float: left;
    width: 50%; } }
@media (min-width: 767px) and (max-width: 991px) {
  .payment-block .col-fluid-5 {
    float: left;
    width: 41.66%; } }

.dropdwon-filter img {
  margin-top: 5px; }

.status-type {
  color: #21409a;
  font-family: "GothamRounded-Medium"; }

.my-offer-block .container {
  margin: 0 auto;
  max-width: 1280px; }

.my-offers .tabs {
  width: auto; }
  .my-offers .tabs li {
    width: auto; }

.tab-block .offer-tabs a {
  padding: 10px 46px; }
  @media (max-width: 767px) {
    .tab-block .offer-tabs a {
      padding: 10px 23px; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .tab-block .offer-tabs a {
      padding: 10px 38px; } }

.trade-block .col-fluid-3 {
  width: 25%; }
  @media (max-width: 767px) {
    .trade-block .col-fluid-3 {
      width: 100%; } }
.trade-block p {
  font-size: 18px; }

.sel {
  color: #ed207a;
  min-height: 40px;
  position: relative; }
  .sel .options {
    background-color: #eaecf0;
    border-radius: 10px;
    left: -24px;
    position: absolute;
    top: 40px;
    width: 117px; }
    .sel .options a {
      color: #000;
      padding: 10px;
      text-decoration: none; }

.txt {
  padding: 10px; }
  .txt span {
    color: #ed207a;
    padding-right: 10px; }
  .txt img {
    margin-top: 4px; }

.hide {
  display: none; }

.before-arrow {
  position: relative; }
  .before-arrow::before {
    border-bottom: 5px solid #eaecf0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0; }
  .before-arrow span {
    padding-left: 10px; }

.create-offer a {
  background: #ed207a;
  border-radius: 25px;
  color: #fff;
  padding: 9px 19px;
  text-decoration: none; }

.top-offers-b {
  position: relative; }
  .top-offers-b .anchor-block {
    background: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.select-block-field .anchor-block {
  position: inherit; }

a {
  text-decoration: none; }

.dropdwon-filter img {
  margin-top: 5px; }

.status-type {
  color: #21409a;
  font-family: "GothamRounded-Medium"; }

.my-offer-block .container {
  margin: 0 auto;
  max-width: 1280px; }

.my-offers .tabs {
  width: auto; }
  .my-offers .tabs li {
    width: auto; }

.tab-block .offer-tabs a {
  padding: 10px 46px; }
  @media (max-width: 767px) {
    .tab-block .offer-tabs a {
      padding: 10px 23px; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .tab-block .offer-tabs a {
      padding: 10px 38px; } }

.trade-block .col-fluid-3 {
  width: 25%; }
  @media (max-width: 767px) {
    .trade-block .col-fluid-3 {
      width: 100%; } }
.trade-block p {
  font-size: 18px; }

.sel {
  color: #ed207a;
  min-height: 40px;
  position: relative; }
  .sel .options {
    background-color: #eaecf0;
    border-radius: 10px;
    left: -24px;
    position: absolute;
    top: 40px;
    width: 117px; }
    .sel .options a {
      color: #000;
      padding: 10px;
      text-decoration: none; }

.txt {
  padding: 10px; }
  .txt span {
    color: #ed207a;
    padding-right: 10px; }
  .txt img {
    margin-top: 4px; }

.hide {
  display: none; }

.before-arrow {
  position: relative; }
  .before-arrow::before {
    border-bottom: 5px solid #eaecf0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0; }
  .before-arrow span {
    padding-left: 10px; }

.create-offer a {
  background: #ed207a;
  border-radius: 25px;
  color: #fff;
  padding: 9px 19px;
  text-decoration: none; }

.top-offers-b {
  position: relative; }
  .top-offers-b .anchor-block {
    background: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.select-block-field .anchor-block {
  position: inherit; }

.modaldialog {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in;
  z-index: 99999; }
  .modaldialog h3 {
    background: #21409a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff; }
  .modaldialog .popup-inner {
    background: #fff;
    border-radius: 10px;
    margin: 10% auto;
    position: relative;
    width: 400px; }

.modaldialog:target {
  opacity: 1;
  pointer-events: auto; }

.close {
  color: #fff;
  position: absolute;
  right: 13px;
  text-align: center;
  text-decoration: none;
  top: 12px; }
  .close:hover {
    color: #fff; }

.popup-body {
  padding: 30px 50px; }

.popup-btn {
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px; }

header {
  display: inline-block;
  width: 100%; }

.header-bg {
  background: #21409a;
  display: inline-block;
  width: 100%; }
  .header-bg .container {
    max-width: 1280px; }
    @media (max-width: 767px) {
      .header-bg .container {
        padding: 0 15px; } }

.logo-img {
  max-width: 61%;
  width: 100%; }
  @media (max-width: 767px) {
    .logo-img {
      max-width: 100%;
      width: 100%; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .logo-img {
      width: 100%; } }

@media (max-width: 767px) {
  .custom-column {
    float: left;
    padding-left: 15px;
    width: 30%; } }

@media (max-width: 767px) {
  .custom-colum {
    float: right;
    text-align: right;
    width: 70%; } }

.menu li {
  display: inline-block;
  padding-right: 15px; }
  .menu li a {
    color: #fff;
    text-decoration: none; }

.notification {
  position: relative;
  top: 5px; }

.desktop-ul li::after {
  background: url("../images/language-arrow.png");
  background-repeat: no-repeat;
  right: 20px;
  z-index: 999; }
.desktop-ul .profile-arrow::after {
  background: url("../images/profile-arrow.png");
  background-repeat: no-repeat;
  content: '';
  height: 10px;
  right: -10px !important;
  width: 16px;
  z-index: 999; }

.language-select {
  background: #fff;
  border: 0;
  border-radius: 25px; }

.profile-select {
  border: 0;
  color: #fff; }

@media (max-width: 767px) {
  .logo img {
    margin: 0 auto; } }

.user-icon {
  height: 30px;
  width: 30px; }
  .user-icon img {
    border-radius: 50%;
    height: 100%;
    width: 100%; }

.dropdown {
  display: none; }
  @media (max-width: 767px) {
    .dropdown {
      display: block; } }
  .dropdown button {
    background: none; }

@media (max-width: 767px) {
  .desktop-menu {
    display: none; } }
@media (min-width: 767px) and (max-width: 991px) {
  .desktop-menu {
    text-align: center; } }

.dropbtn {
  border: 0;
  cursor: pointer; }

.dropdown-content {
  background-color: #ed207a;
  display: none;
  left: 0;
  margin-top: 15px;
  overflow: auto;
  padding-bottom: 25px;
  position: absolute;
  width: 100%;
  z-index: 1; }
  .dropdown-content a {
    color: #fff;
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none; }

.toggle-icon {
  max-width: 100%;
  width: 70%; }

.show {
  display: block; }

.mobile-menu .select-wrapper {
  text-align: center; }

.mobile-ul {
  padding-top: 15px;
  text-align: center; }
  .mobile-ul li {
    padding-right: 0 !important;
    text-align: center; }

.mobile-lang {
  display: table;
  margin: 0 auto;
  padding-top: 20px; }

@media (min-width: 767px) and (max-width: 991px) {
  .tab-custom {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%; } }
.tab-custom .logo {
  display: inline-block; }

.logout-dropdown {
  display: block;
  position: relative; }
  .logout-dropdown button {
    background: none; }
  .logout-dropdown .user-icon img {
    position: relative;
    top: -4px; }

.logoutbtn {
  border: 0;
  cursor: pointer; }
  .logoutbtn span {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-right: 10px; }

.logout-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 15px 10px -15px #111;
  display: none;
  left: 0;
  margin-top: 15px;
  overflow: auto;
  position: absolute;
  z-index: 1; }
  .logout-content a {
    color: #fff;
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none; }

.logout-ul {
  background: #fff;
  padding: 0 10px;
  position: relative;
  text-align: left; }
  .logout-ul img {
    position: absolute;
    right: 0;
    top: -20px; }
  .logout-ul li {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #c2c4cc;
    line-height: 24px; }
    .logout-ul li:last-child {
      border-bottom: 0; }
    .logout-ul li a {
      color: #192033 !important;
      text-align: left;
      font-size: 14px;
      font-family: "GothamRounded-Medium"; }

footer {
  background: #000;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  margin-top: 100px;
  width: 100%; }

.box-flow {
  display: table;
  margin-bottom: 15px;
  width: 100%; }

h1 {
  color: #76236d;
  margin-bottom: 15px; }

.box {
  background: #eaecf0;
  border: 1px solid #737680;
  float: left;
  height: 200px;
  margin-right: 10px;
  width: 200px; }

.xsmall-radius {
  border-radius: 2px; }

.small-radius {
  border-radius: 5px; }

.xlarge-radius {
  border-radius: 8px; }

.large-radius {
  border-radius: 10px; }

.show-grid {
  display: table;
  margin-bottom: 15px;
  width: 100%; }
  .show-grid [class^="col-fluid-"] {
    background-color: #737680;
    border: 1px solid #c2c4cc;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center; }

.color-box, .padding-classes h3, .raw-classes h3 {
  padding: 5px; }

.color-box {
  width: calc(100% / 5); }

.padding-classes h3 {
  background: #a8353a;
  color: #fff;
  font-size: 24px; }
.padding-classes p {
  font-size: 18px; }

.raw-classes h3 {
  background: #a8353a;
  color: #fff;
  font-size: 24px; }
.raw-classes p {
  font-size: 18px;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
