@import 'colour-palette';

.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.btn {
  @extend %mr15;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

// BTN DEFAULT

.btn-default {
  background-color: transparent;
  border: 1px solid $magenta;
  border-radius: 50px;
  color: $magenta;
}

// BTN primary

.btn-primary {
  background-color: $magenta;
  border: 1px solid $magenta;
  border-radius: 50px;
  color: $white;

  &:focus {
    background-color: transparent;
    border: 1px solid $magenta;
    color: $magenta;
  }

  &:hover {
    background-color: transparent;
    border: 1px solid $magenta;
    color: $magenta;
  }
}

// BTN Success

.btn-success {
  background-color: $success;
  border-color: $success;
  border-radius: 50px;
  color: $white;

  &:focus {
    background-color: $success-hover;
    border-color: $success;
    color: $white;
  }

  &:hover {
    background-color: $success-hover;
    color: $white;
  }
}

// BTN Warning

.btn-warning {
  background-color: $warning;
  border-color: $warning;
  border-radius: 50px;
  color: $white;

  &:focus {
    background-color: $warning-hover;
    border-color: $warning;
    color: $white;
  }

  &:hover {
    background-color: $warning-hover;
    color: $white;
  }
}

// BTN Danger

.btn-danger {
  background-color: $danger;
  border-color: $danger-hover;
  border-radius: 50px;
  color: $white;

  &:focus {
    background-color: $danger-hover;
    border-color: $danger;
    color: $white;
  }

  &:hover {
    background-color: $danger-hover;
    color: $white;
  }
 }

