
//Primary Colors
// scss-lint:disable VendorPrefix

.blue {
  background-color: $blue;
}

.magenta {
  background-color: $magenta;
}

.dark-blue {
  background-color: $dark-blue;
}


//Secondory Colors

.dark-grey {
  background-color: $dark-grey;
}

.light-grey {
  background-color: $light-grey;
}

.lighter-grey {
  background-color: $lighter-grey;
}

//Social logo Colors

.facebook-color {
  background-color: $facebook-color;
}

.twitter-color {
  background-color: $twitter-color;
}

.instagram-color {
  background-color: $instagram-color;
}

.pinterest-color {
  background-color: $pinterest-color;
}

.linkedin-color {
  background-color: $linkedin-color;
}

.youtube-color {
  background-color: $youtube-color;
}

.google-plus-color {
  background-color: $google-plus-color;
}

.snapchat-color {
  background-color: $snapchat-color;
}

.whatsapp-color {
  background-color: $whatsapp-color;
}

.skype-color {
  background-color: $skype-color;
}

.yahoo-color {
  background-color: $yahoo-color;
}

// Stakeholder Palette



.group-color {
  background-color: $group;
}

.verified {
  background-color: $verified;
}

.managers-color {
  background-color: $mangers;
}

.supplier-color {
  background-color: $green;
}

.client-color {
  background-color: $clients;
}

.resource-color {
  background-color: $resources;
}

.delegates-color {
  background-color: $delegates;
}

.white-color {
  background-color: $white;
}

.grey-color {
  background-color: $grey;
}

.error {
  background-color: $error;
}
