// Standardise the font-family names, add appropriate values for
// weights and styles

// In variables partial



.f-f-gotham-m {
  font-family: $f-f-gotham-m;
}

.f-f-gotham-b {
  font-family: $f-f-gotham-b;
}

.f-f-gotham-l {
  font-family: $f-f-gotham-l;
}

// In type partial

@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Medium/GothamRounded-Medium.otf')  format('opentype'),
       url('../fonts/GothamRounded-Medium/GothamRounded-Medium.woff') format('woff'), url('../fonts/GothamRounded-Medium/GothamRounded-Medium.ttf')  format('truetype'), url('../fonts/GothamRounded-Medium/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book/GothamRounded-Book.otf')  format('opentype'),
       url('../fonts/GothamRounded-Book/GothamRounded-Book.woff') format('woff'),
       url('../fonts/GothamRounded-Book/GothamRounded-Book.ttf')  format('truetype'),
       url('../fonts/GothamRounded-Book/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Light';
  src: url('../fonts/GothamRounded-Light/GothamRounded-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Light/GothamRounded-Light.otf')  format('opentype'),
       url('../fonts/GothamRounded-Light/GothamRounded-Light.woff') format('woff'), url('../fonts/GothamRounded-Light/GothamRounded-Light.ttf') format('truetype'), url('../fonts/GothamRounded-Light/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

