// variable for font size start

// Font extended

%font-xxxlarge {
  font-size: $xxxlarge;
}

%font-xxlarge {
  font-size: $xxlarge;
}

%font-xlarge {
  font-size: $xlarge;
}

%font-large {
  font-size: $large;
}

%font-medium {
  font-size: $mediumvalue;
}

%font-small {
  font-size: $small;
}

%font-xsmall {
  font-size: $xsmall;
}

.font-xxsmall {
  font-size: $xxsmall;
}


// font size classes
.font-xxxlarge {
  font-size: $xxxlarge;
}

.font-xxlarge {
  font-size: $xxlarge;
}

.font-xlarge {
  font-size: $xlarge;
}

.font-large {
  font-size: $large;
}

.font-medium {
  font-size: $mediumvalue;
}

.font-small {
  font-size: $small;
}

.font-xsmall {
  font-size: $xsmall;
}

%font-xxsmall {
  font-size: $xxsmall;
}

