header {
  display: inline-block;
  width: 100%;
}

.header-bg {
  background: $blue;
  display: inline-block;
  width: 100%;

  .container {
    max-width: 1280px;

    @include breakpoint(mobileonly) {
      padding: 0 15px;
    }
  }
}

.logo-img {
  max-width: 61%;
  width: 100%;

  @include breakpoint(mobileonly) {
    max-width: 100%;
    width: 100%;
  }

  @include breakpoint(tablet) {
    width: 100%;
  }
}

.custom-column {

  @include breakpoint(mobileonly) {
    float: left;
    padding-left: $pl15;
    width: 30%;
  }
}

.custom-colum {
  @include breakpoint(mobileonly) {
    float: right;
    text-align: right;
    width: 70%;
  }
}


.menu {
  li {
    display: inline-block;
    padding-right: $pr15;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}




.notification {
  position: relative;
  top: $gt5;
}

.desktop-ul {
  li {
    &::after {
      background: url('../images/language-arrow.png');
      background-repeat: no-repeat;
      right: 20px;
      z-index: 999;
    }
  }

  .profile-arrow {
    &::after {
      background: url('../images/profile-arrow.png');
      background-repeat: no-repeat;
      content: '';
      height: 10px;
      right: -10px !important; // scss-lint:disable ImportantRule
      width: 16px;
      z-index: 999;
    }
  }
}

.language-select {
  background: $white;
  border: 0;
  border-radius: $border-quarter;
}

.profile-select {
  border: 0;
  color: $white;
}

.logo {
  img {
    @include breakpoint(mobileonly) {
      margin: 0 auto;
    }
  }
}

.user-icon {
  height: 30px;
  width: 30px;

  img {
    border-radius: $border-fifty;
    height: 100%;
    width: 100%;
  }
}

.dropdown {
  display: none;

  @include breakpoint(mobileonly) {
    display: block;
  }

  button {
    background: none;
  }
}

.desktop-menu {
  @include breakpoint(mobileonly) {
    display: none;
  }

  @include breakpoint(tablet) {
    text-align: $text-center;
  }
}

.dropbtn {
  border: 0;
  cursor: pointer;
}

.dropdown-content {
  background-color: $magenta;
  display: none;
  left: 0;
  margin-top: $mt15;
  overflow: auto;
  padding-bottom: $pt25;
  position: absolute;
  width: 100%;
  z-index: 1;

  a {
    color: $white;
    display: block;
    padding: $pad5;
    text-align: center;
    text-decoration: none;
  }
}

.toggle-icon {
  max-width: 100%;
  width: 70%;
}

.show {
  display: block;
}

.mobile-menu {
  .select-wrapper {
    text-align: center;
  }
}

.mobile-ul {
  padding-top: $pt15;
  text-align: center;

  li {
    padding-right: $gutter !important; // scss-lint:disable ImportantRule
    text-align: center;
  }
}

.mobile-lang {
  display: table;
  margin: 0 auto;
  padding-top: $pt20;
}


.tab-custom {
  @include breakpoint(tablet) {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
  }

  .logo {
    display: inline-block;
  }
}


.logout-dropdown {
  display: block;
  position: relative;

  button {
    background: none;
  }

  .user-icon {
    img {
      position: relative;
      top: -4px;
    }
  }
}

.logoutbtn {
  border: 0;
  cursor: pointer;
  span {
    display: inline-block;
    color: $white;
    font-size: $small;
    margin-right: 10px;
  }
}

.logout-content {
  background-color: $white;
  border-radius: $border-r-small;
  box-shadow: 0px 15px 10px -15px #111;  
  display: none;
  left: 0;
  margin-top: $mt15;
  overflow: auto;
  position: absolute;
  z-index: 1;

  a {
    color: $white;
    display: block;
    padding: $pad5;
    text-align: center;
    text-decoration: none;
  }
}

.logout-ul {
  background: $white;
  padding: 0 10px;
  position: relative;
  text-align: $text-left;

  img {
    position: absolute;
    right: 0;
    top: -20px;
  }

  li {
    text-align: $text-left;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    line-height: 24px;

      &:last-child {
        border-bottom: 0;
      }

    a {
      color: $dark-blue !important;
      text-align: $text-left;
      font-size: $xsmall;
      font-family: $f-f-gotham-m;
    }
  }
}
