html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
main,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: $f-f-gotham-b;
}

a {

  &:hover {
    color: $dark-grey;
    text-decoration: none;
  }

  &:focus {
    color: $dark-grey;
    outline-offset: -2px;
    text-decoration: none;
  }
}

.clearfix {
  clear: both;
  content: '';
  display: table;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

// Float

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


// font-weight

$thin: 100;

$light: 300;

$regular: 400;

$medium: 500;

$bold: 700;

$exblack: 900;

// Alignment

$right: right;

$left: left;

$center: center;

.text-right {
  text-align: $right;
}

.text-left {
  text-align: $left;
}

.text-center {
  text-align: $center;
}
