@import 'variable';
@import 'font-family';
@import 'colour-palette';
@import 'reset';
@import 'button';
@import 'font-size';
@import 'mixins';
@import 'projects';
@import 'header';
@import 'footer';


.box-flow {
  display: table;
  margin-bottom: 15px;
  width: 100%;
}

h1 {
  color: $clients;
  margin-bottom: 15px;
}

.box {
  background: $lighter-grey;
  border: 1px solid $dark-grey;
  float: left;
  height: 200px;
  margin-right: 10px;
  width: 200px;
}

.xsmall-radius {
  border-radius: $border-r-xsmall;
}

.small-radius {
  border-radius: $border-r-small;
}

.xlarge-radius {
  border-radius: $border-r-xlarge;
}

.large-radius {
  border-radius: $border-r-large;
}

.show-grid {
  display: table;
  margin-bottom: 15px;
  width: 100%;

  [class^="col-fluid-"] {
    background-color: $dark-grey;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
  }
}

%pad5 {
  padding: 5px;
}

.color-box {
  @extend %mt10;
  @extend %pad5;
  @extend %pull-left;
  @extend %text-center;
  width: calc(100% / 5);
}

.padding-classes {

  h3 {
    @extend %pad5;
    background: $resources;
    color: $white;
    font-size: $large;
  }

  p {
    font-size: $mediumvalue;
  }
}

.raw-classes {
  h3 {
    @extend %pad5;
    background: $resources;
    color: $white;
    font-size: $large;
  }

  p {
    @extend %mt5;
    @extend %mb5;
    font-size: $mediumvalue;
    font-weight: bold;
  }
}



