//border radius varaible

$border-r-xsmall: 2px;
$border-r-small: 5px;
$border-r-xlarge: 8px;
$border-r-large: 10px;
$border-quarter: 25px;
$border-fifteen: 15px;
$border-rounded: 100px;
$border-fifty: 50%;


// form element variable

$xsmall-input: 70px;
$small-input: 105px;
$medium-input: 175px;
$large-input: 280px;
$xlarge-input: 350px;
$xxlarge-input: 420px;
$xxxlarge-input: 490px;
$select-width: 245px;
$full-width-input: 100%;
$full-max-width: 100%;
$half-max-width: 50%;


//margin top (mt)
$mt5: 5px;
$mt10: 10px;
$mt15: 15px;
$mt20: 20px;
$mt25: 25px;
$mt30: 30px;
$mt35: 35px;
$mt40: 40px;
$mt45: 45px;
$mt50: 50px;
$mt100: 100px;
$mt-100: -100px;

//margin bottom (mb)
$mb5: 5px;
$mb10: 10px;
$mb15: 15px;
$mb20: 20px;
$mb25: 25px;
$mb30: 30px;
$mb35: 35px;
$mb40: 40px;
$mb45: 45px;
$mb50: 50px;
$mb100: 100px;


//margin right (mr)
$mr5: 5px;
$mr10: 10px;
$mr15: 15px;
$mr20: 20px;
$mr25: 25px;
$mr30: 30px;
$mr35: 35px;
$mr40: 40px;
$mr45: 45px;
$mr50: 50px;


//margin left (ml)
$ml5: 5px;
$ml10: 10px;
$ml15: 15px;
$ml20: 20px;
$ml25: 25px;
$ml30: 30px;
$ml35: 35px;
$ml40: 40px;
$ml45: 45px;
$ml50: 50px;


//padding Top (pt)
$pt5: 5px;
$pt10: 10px;
$pt15: 15px;
$pt20: 20px;
$pt25: 25px;
$pt30: 30px;
$pt35: 35px;
$pt40: 40px;
$pt45: 45px;
$pt50: 50px;


//padding bottom (pb)
$pb5: 5px;
$pb10: 10px;
$pb15: 15px;
$pb20: 20px;
$pb25: 25px;
$pb30: 30px;
$pb35: 35px;
$pb40: 40px;
$pb45: 45px;
$pb50: 50px;


//padding left (pl)

$pl5: 5px;
$pl10: 10px;
$pl15: 15px;
$pl20: 20px;
$pl25: 25px;
$pl30: 30px;
$pl35: 35px;
$pl40: 40px;
$pl45: 45px;
$pl50: 50px;
$pl70: 70px;
$pl100: 100px;
$pl62: 62px;


//padding right (pr)
$pr5: 5px;
$pr10: 10px;
$pr15: 15px;
$pr20: 20px;
$pr25: 25px;
$pr30: 30px;
$pr35: 35px;
$pr40: 40px;
$pr45: 45px;
$pr50: 50px;
$pr60: 60px;
$pr70: 70px;
$pr100: 100px;
$pr62: 62px;

//main padding

$pad5: 5px;
$pad10: 10px;
$pad15: 15px;
$pad25: 25px;
$pad30: 30px;
$pad35: 35px;


//grid variable

$columns: 12;
$column-width: 90px;
$gutter: 0;
$padding: 0;
$gt5: 5px;
$gt10: 10px;


//raw variable

$float-left: left;
$float-right: right;
$text-left: left;
$text-right: right;
$text-center: center;

//color pallets variable

$blue: #21409a;
$magenta: #ed207a;
$dark-blue: #192033;
$black: #000;

//Secondory Colors

$dark-grey: #737680;
$light-grey: #c2c4cc;
$lighter-grey: #eaecf0;

//Social logo Colors

$facebook-color: #3b5998;
$twitter-color: #00aced;
$instagram-color: #c32aa3;
$pinterest-color: #bd081c;
$linkedin-color: #007bb6;
$youtube-color: #f00;
$google-plus-color: #db4437;
$snapchat-color: #fffc00;
$whatsapp-color: #25d366;
$skype-color: #00aff0;
$yahoo-color: #430297;
$placeholder-color: #192033;
$modal-bg-blur: rgba(0, 0, 0, .5);

// Stakeholder Palette

$group: #415464;
$mangers: #ff8400;
$green: #8b8d4a;
$delegates: #00609c;
$clients: #76236d;
$resources: #a8353a;
$white: #fff;
$grey: #777;
$error: #c91810;
$danger: #d9534f;
$danger-hover: #c9302c;
$success: #5cb85c;
$success-hover: #449d44;
$warning: #f0ad4e;
$warning-hover: #ec971f;
$verified: #00c853;
$payment-border: #828899;


//font variable

$f-f-gotham-m: 'GothamRounded-Medium';
$f-f-gotham-b: 'GothamRounded-Book';
$f-f-gotham-l: 'GothamRounded-Light';
$font-bold: 700;


//font size variable

$xxxlarge: 48px;
$xxlarge: 42px;
$xlarge: 36px;
$large: 24px;
$mediumvalue: 18px;
$small: 16px;
$xsmall: 14px;
$xxsmall: 12px;
