// scss-lint:disable VendorPrefix


@mixin border-radius($border-r-xsmall) {
  -webkit-border-radius: $border-r-xsmall;
  -ms-border-radius: $border-r-xsmall;
  border-radius: $border-r-xsmall;
}

@mixin border-radius($border-r-small) {
  -webkit-border-radius: $border-r-small;
  -ms-border-radius: $border-r-small;
  border-radius: $border-r-small;
}

@mixin border-radius($border-r-xlarge) {
  -webkit-border-radius: $border-r-xlarge;
  -ms-border-radius: $border-r-xlarge;
  border-radius: $border-r-xlarge;
}

@mixin border-radius($border-r-large) {
  -webkit-border-radius: $border-r-large;
  -ms-border-radius: $border-r-large;
  border-radius: $border-r-large;
}

@mixin border-radius($border-fifty) {
  -webkit-border-radius: $border-fifty;
  -ms-border-radius: $border-fifty;
  border-radius: $border-fifty;
}


@mixin border-radii($tl, $tr, $br, $bl) {
}



