// Checkbox

.checkbox[type='checkbox'] {
  display: none;

  + .form-label::before {
    background: $dark-grey;
    content: '';
    display: block;
    float: left;
    font-size: $small;
    height: $mediumvalue;
    left: 0;
    line-height: $mediumvalue;
    position: absolute;
    text-align: center;
    width: $mediumvalue;
  }

  + .form-label:hover::before {
    background: $dark-grey;
    content: '';
    font-size: $small;
    height: $mediumvalue;
    line-height: $mediumvalue;
    text-align: center;
    width: $mediumvalue;
  }
}

.checkbox[type='checkbox'] + .form-label,
.radiobutton[type='radio'] + .form-label {
  cursor: pointer;
  display: table;
  padding-left: 28px;
  position: relative;
  text-indent: -1px;
}

.checkbox[type='checkbox'] + .form-label span,
.radiobutton[type='radio'] + .form-label span {
  display: inline-block;
  float: left;
  line-height: 12px;
  margin: 4px 0 2px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  word-wrap: break-word;
}

.checkbox[type='checkbox']:checked  + .form-label::before {
  background: $dark-grey;
  color: $white;
  content: '\e80a';
  font-family: 'fontello';
  font-size: $small;
  line-height: $mediumvalue;
  text-align: center;
  text-indent: 1px;
}
