// Input groups
// scss-lint:disable VendorPrefix

.xsmall-input {
  @extend %form-element;
  width: $xsmall-input;
}

.medium-input {
  width: $medium-input;
}

.large-input {
  @extend %form-element;
  width: $large-input;
}

.xlarge-input {
  @extend %form-element;
  width: $xlarge-input;
}

.xxlarge-input {
  @extend %form-element;
  width: $xxlarge-input;
}

.xxxlarge-input {
  @extend %form-element;
  width: $xxxlarge-input;
}

.full-width-input {
  @extend %form-element;
  width: $full-width-input;
}


.form-element {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $dark-grey;
  color: $dark-blue;
  display: inline-block;
  font-family: $f-f-gotham-m;
  font-size: $small;
  height: 28px;
  line-height: $mediumvalue;
  min-height: 28px;
  padding: 4px;
  text-align: left;

  :focus {
    border-bottom: 1px solid $dark-grey;
    outline: none;
  }
}

%form-element {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $dark-grey;
  color: $dark-blue;
  display: inline-block;
  font-family: $f-f-gotham-m;
  font-size: $small;
  height: 28px;
  line-height: $mediumvalue;
  min-height: 28px;
  padding: 4px;
  text-align: left;

  &:focus {
    border-bottom: 1px solid $dark-grey;
    outline: none;
  }
}

.error-msg ~ span {
  color: $error;
  font-family: $f-f-gotham-m;
  font-size: $xsmall;
  margin-top: -15px;
}

input {
  -webkit-appearance: none;
  position: relative;
  touch-action: manipulation;
  transition: all .2s;
  z-index: 99;

  [type='text'][disabled] {
    background: transparent;
    border-color: $dark-grey;
  }

  [type='text'] {
    height: 28px \9;
  }

  &:placeholder-shown + .input-label {
    cursor: text;
    max-width: 66.66%;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(0, -1.5rem) scale(1);
    transform-origin: left top;
    white-space: nowrap;
  }
}

.small-input {
  @extend %form-element;
  width: $small-input;
}

.input245 {
  @extend %form-element;
}

.form-textarea {
  @extend %form-element;
  height: 84px;
  resize: none;
  width: 100%;
}

.numberinputwrapper {
  display: inline-block;
  float: left;
  position: relative;
  width: auto;

  .form-number {
    @extend %form-element;
    opacity: 0;
  }

  .form-number-value {
    @extend %form-element;
    border: 0;
    display: inline-block;
    float: left;
    height: 28px;
    left: 0;
    overflow: hidden;
    padding-right: 38px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    width: 100%;
    z-index: -1;
  }
}

// input style end

[class^="col-fluid"] [class$="_select"] {
  width: 100%;
}

.haseditbutton {
  float: left;
}

::-webkit-input-placeholder {
  color: $placeholder-color;
  opacity: 0;
  transition: inherit;
}

::-moz-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

.xxxlarge-input::-webkit-input-placeholder {
  color: $placeholder-color;
}

.xxxlarge-input::-moz-placeholder {
  color: $placeholder-color;
}

.xxxlarge-input:-ms-input-placeholder {
  color: $placeholder-color;
}

.full-width-input::-webkit-input-placeholder {
  color: $placeholder-color;
}

.full-width-input::-moz-placeholder {
  color: $placeholder-color;
}

.full-width-input:-ms-input-placeholder {
  color: $placeholder-color;
}

.full-width-input:-webkit-autofill {
  background-color: $white;
}



//Show the placeholder when the input is focused.

input:focus::-webkit-input-placeholder {
  opacity: 1;
}



// When the element is focused, remove the label transform.
// Also, do this when the placeholder is _not_ shown, i.e. when
// there's something in the input at all.

input:not(:placeholder-shown) + .input-label,
input:focus + .input-label {
  cursor: pointer;
  transform: translate(0, -3rem) scale(1);
}


// Add a transition to the label and input.
// I'm not even sure that touch-action: manipulation works on
// inputs, but hey, it's new and cool and could remove the
// pesky delay.





label {
  letter-spacing: .05em;
  touch-action: manipulation;
  transition: all .2s;

  &.input-label {
    position: relative;
    z-index: 0;
  }
}

input:focus {
  border-bottom: 1px solid $light-grey;
  outline: 0;
}


select {
  -webkit-appearance: none;
  position: relative;
  z-index: 99;
}

.form-group {
 display: inline-block;
 position: relative;
 text-align: $text-left;
 width: 100%;

 label {
   color: $dark-grey;
 }

 input {
   @extend %form-element;
   border-color: $light-grey;
   color: $blue;
   width: $full-width-input;
 }

 select {
   border-color: $light-grey;
   color: $blue;
 }
}
