//margin top (mt)
$mt5: 5px;
$mt10: 10px;
$mt15: 15px;
$mt20: 20px;
$mt25: 25px;
$mt30: 30px;
$mt35: 35px;
$mt40: 40px;
$mt45: 45px;
$mt50: 50px;
$mt100: 100px;
$mt-100: -100px;

.mt5 {
  margin-top: $mt5;
}

.mt10 {
  margin-top: $mt10;
}

.mt15 {
  margin-top: $mt15;
}

.mt20 {
  margin-top: $mt20;
}

.mt25 {
  margin-top: $mt25;
}

.mt30 {
  margin-top: $mt30;
}

.mt35 {
  margin-top: $mt35;
}

.mt40 {
  margin-top: $mt40;
}

.mt45 {
  margin-top: $mt45;
}

.mt50 {
  margin-top: $mt50;
}

.mt100 {
  margin-top: $mt100;
}

.mt-100 {
  margin-top: -100px;
}

%mt5 {
  margin-top: $mt5;
}

%mt10 {
  margin-top: $mt10;
}

%mt15 {
  margin-top: $mt15;
}

%mt20 {
  margin-top: $mt20;
}

%mt25 {
  margin-top: $mt25;
}

%mt30 {
  margin-top: $mt30;
}

%mt35 {
  margin-top: $mt35;
}

%mt40 {
  margin-top: $mt40;
}

%mt45 {
  margin-top: $mt45;
}

%mt50 {
  margin-top: $mt50;
}

//margin bottom (mb)
$mb0: 0;
$mb5: 5px;
$mb10: 10px;
$mb15: 15px;
$mb20: 20px;
$mb25: 25px;
$mb30: 30px;
$mb35: 35px;
$mb40: 40px;
$mb45: 45px;
$mb50: 50px;
$mb100: 100px;

.mb0 {
  margin-bottom: $mb0;
}

.mb5 {
  margin-bottom: $mb5;
}

.mb10 {
  margin-bottom: $mb10;
}

.mb15 {
  margin-bottom: $mb15;
}

.mb20 {
  margin-bottom: $mb20;
}

.mb25 {
  margin-bottom: $mb25;
}

.mb30 {
  margin-bottom: $mb30;
}

.mb35 {
  margin-bottom: $mb35;
}

.mb40 {
  margin-bottom: $mb40;
}

.mb45 {
  margin-bottom: $mb45;
}

.mb50 {
  margin-bottom: $mb50;
}

.mb100 {
  margin-bottom: $mb100;
}

%mb5 {
  margin-bottom: $mb5;
}

%mb10 {
  margin-bottom: $mb10;
}

%mb15 {
  margin-bottom: $mb15;
}

%mb20 {
  margin-bottom: $mb20;
}

%mb25 {
  margin-bottom: $mb25;
}

%mb30 {
  margin-bottom: $mb30;
}

%mb35 {
  margin-bottom: $mb35;
}

%mb40 {
  margin-bottom: $mb40;
}

%mb45 {
  margin-bottom: $mb45;
}

%mb50 {
  margin-bottom: $mb50;
}




//margin right (mr)
$mr5: 5px;
$mr10: 10px;
$mr15: 15px;
$mr20: 20px;
$mr25: 25px;
$mr30: 30px;
$mr35: 35px;
$mr40: 40px;
$mr45: 45px;
$mr50: 50px;

.mr5 {
  margin-right: $mr5;
}

.mr10 {
  margin-right: $mr10;
}

.mr15 {
  margin-right: $mr15;
}

.mr20 {
  margin-right: $mr20;
}

.mr25 {
  margin-right: $mr25;
}

.mr30 {
  margin-right: $mr30;
}

.mr35 {
  margin-right: $mr35;
}

.mr40 {
  margin-right: $mr40;
}

.mr45 {
  margin-right: $mr45;
}

.mr50 {
  margin-right: $mr50;
}

%mr5 {
  margin-right: $mr5;
}

%mr10 {
  margin-right: $mr10;
}

%mr15 {
  margin-right: $mr15;
}

%mr20 {
  margin-right: $mr20;
}

%mr25 {
  margin-right: $mr25;
}

%mr30 {
  margin-right: $mr30;
}

%mr35 {
  margin-right: $mr35;
}

%mr40 {
  margin-right: $mr40;
}

%mr45 {
  margin-right: $mr45;
}

%mr50 {
  margin-right: $mr50;
}


//margin left (ml)
$ml5: 5px;
$ml10: 10px;
$ml15: 15px;
$ml20: 20px;
$ml25: 25px;
$ml30: 30px;
$ml35: 35px;
$ml40: 40px;
$ml45: 45px;
$ml50: 50px;

.ml5 {
  margin-left: $ml5;
}

.ml10 {
  margin-left: $ml10;
}

.ml15 {
  margin-left: $ml15;
}

.ml20 {
  margin-left: $ml20;
}

.ml25 {
  margin-left: $ml25;
}

.ml30 {
  margin-left: $ml30;
}

.ml35 {
  margin-left: $ml35;
}

.ml40 {
  margin-left: $ml40;
}

.ml45 {
  margin-left: $ml45;
}

.ml50 {
  margin-left: $ml50;
}

.m-0-auto {
  margin: 0 auto;
}

%ml5 {
  margin-left: $ml5;
}

%ml10 {
  margin-left: $ml10;
}

%ml15 {
  margin-left: $ml15;
}

%ml20 {
  margin-left: $ml20;
}

%ml25 {
  margin-left: $ml25;
}

%ml30 {
  margin-left: $ml30;
}

%ml35 {
  margin-left: $ml35;
}

%ml40 {
  margin-left: $ml40;
}

%ml45 {
  margin-left: $ml45;
}

%ml50 {
  margin-left: $ml50;
}

%m-0-auto {
  margin: 0 auto;
}

//padding Top (pt)
$pt5: 5px;
$pt10: 10px;
$pt15: 15px;
$pt20: 20px;
$pt25: 25px;
$pt30: 30px;
$pt35: 35px;
$pt40: 40px;
$pt45: 45px;
$pt50: 50px;

.pt5 {
  padding-top: $pt5;
}

.pt10 {
  padding-top: $pt10;
}

.pt15 {
  padding-top: $pt15;
}

.pt20 {
  padding-top: $pt20;
}

.pt25 {
  padding-top: $pt25;
}

.pt30 {
  padding-top: $pt30;
}

.pt35 {
  padding-top: $pt35;
}

.pt40 {
  padding-top: $pt40;
}

.pt45 {
  padding-top: $pt45;
}

.pt50 {
  padding-top: $pt50;
}

%pt5 {
  padding-top: $pt5;
}

%pt10 {
  padding-top: $pt10;
}

%pt15 {
  padding-top: $pt15;
}

%pt20 {
  padding-top: $pt20;
}

%pt25 {
  padding-top: $pt25;
}

%pt30 {
  padding-top: $pt30;
}

%pt35 {
  padding-top: $pt35;
}

%pt40 {
  padding-top: $pt40;
}

%pt45 {
  padding-top: $pt45;
}

%pt50 {
  padding-top: $pt50;
}


//padding bottom (pb)

$pb0: 0;
$pb5: 5px;
$pb10: 10px;
$pb15: 15px;
$pb20: 20px;
$pb25: 25px;
$pb30: 30px;
$pb35: 35px;
$pb40: 40px;
$pb45: 45px;
$pb50: 50px;

.pb0 {
  padding-bottom: $pb0;
}

.pb5 {
  padding-bottom: $pb5;
}

.pb10 {
  padding-bottom: $pb10;
}

.pb15 {
  padding-bottom: $pb15;
}

.pb20 {
  padding-bottom: $pb20;
}

.pb25 {
  padding-bottom: $pb25;
}

.pb30 {
  padding-bottom: $pb30;
}

.pb35 {
  padding-bottom: $pb35;
}

.pb40 {
  padding-bottom: $pb40;
}

.pb45 {
  padding-bottom: $pb45;
}

.pb50 {
  padding-bottom: $pb50;
}

%pb5 {
  padding-bottom: $pb5;
}

%pb10 {
  padding-bottom: $pb10;
}

%pb15 {
  padding-bottom: $pb15;
}

%pb20 {
  padding-bottom: $pb20;
}

%pb25 {
  padding-bottom: $pb25;
}

%pb30 {
  padding-bottom: $pb30;
}

%pb35 {
  padding-bottom: $pb35;
}

%pb40 {
  padding-bottom: $pb40;
}

%pb45 {
  padding-bottom: $pb45;
}

%pb50 {
  padding-bottom: $pb50;
}

//padding left (pl)

$pl5: 5px;
$pl10: 10px;
$pl15: 15px;
$pl20: 20px;
$pl25: 25px;
$pl30: 30px;
$pl35: 35px;
$pl40: 40px;
$pl45: 45px;
$pl50: 50px;
$pl70: 70px;
$pl100: 100px;
$pl62: 62px;

.pl5 {
  padding-left: $pl5;
}

.pl10 {
  padding-left: $pl10;
}

.pl15 {
  padding-left: $pl15;
}

.pl20 {
  padding-left: $pl20;
}

.pl25 {
  padding-left: $pl25;
}

.pl30 {
  padding-left: $pl30;
}

.pl35 {
  padding-left: $pl35;
}

.pl40 {
  padding-left: $pl40;
}

.pl45 {
  padding-left: $pl45;
}

.pl50 {
  padding-left: $pl50;
}

.pl00 {
  padding-left: $pl100;
}

.pl70 {
  padding-left: $pl70;
}

%pl5 {
  padding-left: $pl5;
}

%pl10 {
  padding-left: $pl10;
}

%pl15 {
  padding-left: $pl15;
}

%pl20 {
  padding-left: $pl20;
}

%pl25 {
  padding-left: $pl25;
}

%pl30 {
  padding-left: $pl30;
}

%pl35 {
  padding-left: $pl35;
}

%pl40 {
  padding-left: $pl40;
}

%pl45 {
  padding-left: $pl45;
}

%pl50 {
  padding-left: $pl50;
}

%pl70 {
  padding-left: $pl70;
}

%pl100 {
  padding-left: $pl100;
}

.pl62 {
  padding-left: 62px;
}



//padding right (pr)
$pr5: 5px;
$pr10: 10px;
$pr15: 15px;
$pr20: 20px;
$pr25: 25px;
$pr30: 30px;
$pr35: 35px;
$pr40: 40px;
$pr45: 45px;
$pr50: 50px;
$pr60: 60px;
$pr70: 70px;
$pr100: 100px;
$pr62: 62px;

.pr5 {
  padding-right: $pr5;
}

.pr10 {
  padding-right: $pr10;
}

.pr15 {
  padding-right: $pr15;
}

.pr20 {
  padding-right: $pr20;
}

.pr25 {
  padding-right: $pr25;
}

.pr30 {
  padding-right: $pr30;
}

.pr35 {
  padding-right: $pr35;
}

.pr40 {
  padding-right: $pr40;
}

.pr45 {
  padding-right: $pr45;
}

.pr50 {
  padding-right: $pr50;
}

.pr60 {
  padding-right: $pr60;
}

.pr70 {
  padding-right: $pr70;
}

.pr100 {
  padding-right: $pr100;
}


%pr5 {
  padding-right: $pr5;
}

%pr10 {
  padding-right: $pr10;
}

%pr15 {
  padding-right: $pr15;
}

%pr20 {
  padding-right: $pr20;
}

%pr25 {
  padding-right: $pr25;
}

%pr30 {
  padding-right: $pr30;
}

%pr35 {
  padding-right: $pr35;
}

%pr40 {
  padding-right: $pr40;
}

%pr45 {
  padding-right: $pr45;
}

%pr50 {
  padding-right: $pr50;
}

%pr60 {
  padding-right: $pr60;
}

%pr70 {
  padding-right: $pr70;
}

%pr100 {
  padding-right: $pr100;
}

.pr62 {
  padding-right: 62px;
}


$pad5: 5px;
$pad10: 10px;
$pad15: 15px;
$pad25: 25px;
$pad30: 30px;
$pad35: 35px;

.pad5 {
  padding-right: $pad5;
}

.pad10 {
  padding-right: $pad10;
}

.pad15 {
  padding-right: $pad15;
}

.pad25 {
  padding-right: $pad25;
}

.pad30 {
  padding-right: $pad30;
}

.pad35 {
  padding-right: $pad35;
}

%pad5 {
  padding-right: $pad5;
}

%pad10 {
  padding-right: $pad10;
}

%pad15 {
  padding-right: $pad15;
}

%pad25 {
  padding-right: $pad25;
}

%pad30 {
  padding-right: $pad30;
}

%pad35 {
  padding-right: $pad35;
}
