[class*="col-"] {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  min-height: 1px;
  vertical-align: text-bottom;
}

[class^="col-fluid"] {
  box-sizing: border-box;
  width: 100%;
}

.container {
  display: table;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;

  @include breakpoint(tablet) {
    max-width: 100%;
    padding: 0;
  }

  @include breakpoint(desktop) {
    max-width: 100%;
    width: 100%;
  }

  .row {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-left: ($gutter * -1);
    margin-right: ($gutter * -1);
    width: 100%;
  }
}

.column {
  display: inline;
  float: left;
  margin: 0 $gutter;
  overflow: hidden;
}

.row+.row {
  margin-top: 7px;
}

.row-fluid-15 {
  width: 100%;
}

.row-fluid-15::before,
.row-fluid-15::after {
  content: '';
  display: table;
  line-height: 0;
}

.row-fluid-15::after {
  clear: both;
}

.col-15,
.col-14,
.col-13,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-1,
.col-2 {
  margin: 0;
  width: 100%;
}

@media only screen and (min-width:640px) {
  .container .row {
    display: inline-block;
    margin-left: ($gutter * -1);
    margin-right: ($gutter * -1);
    width: auto;
  }
}

@media screen and (min-width:992px) {
  $width: ($column-width * $columns) + ($gutter * ($columns));
  // Set Base Container
  @for $i from 1 to $columns + 1 {
    // Calculate grid size in pixels
    $col: ($column-width * $i) + ($gutter * ($i));
    $col: $col;

    .col-#{$i} {
      float: left;
      margin-left: $gutter;
      width: $col;
    }
  }

  //column Fluid

  $columnsfluid: 12;
  $columnwidthfluid: 100% / $columnsfluid;
  @for $i from 1 through $columnsfluid {
    .col-fluid-#{$i} {
      float: left;
      width: percentage($i / $columnsfluid);
    }
  }

  .row-fluid {
    float: left;
    width: 100%;
  }

  .row-fluid::before,
  .row-fluid::after {
    content: '';
    display: table;
    line-height: 0;
  }

  .row-fluid::after {
    clear: both;
  }
}

.form-wrapper {
  max-width: 630px;
  width: 100%;
}

