.customfilewrapper {
  height: 28px;
  overflow: hidden;
  position: relative;

  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
  }
}

.inputfilebtn {
  background: url('./../images/file.png')no-repeat;
  background-position: 98% center;
  border: 1px dashed $grey;
  color: $grey;
  font-size: $small;
  height: 100%;
  left: 0;
  line-height: $mediumvalue;
  padding: 4px 10px;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0;
}

.inputfilewrapper {
  margin-top: 7px;

  .filename {
    @extend %font-small;
    background: $grey;
    color: $grey;
    float: left;
    margin-top: 7px;
    max-width: auto;
    padding: 5px 10px;

    span {
      @extend %ml5;
      cursor: pointer;
      word-wrap: break-word;
    }
 }
}

.filename:first-child {
  margin-top: 0;
}

.filename span:last-child {
  float: right;
}

.filename span:first-child {
  cursor: default;
  float: left;
  margin-left: 0;
}

.uploadedname {
  @extend %font-small;
  background: $dark-grey;
  color: $white;
  float: left;
  margin-top: 7px;
  max-width: 200px;
  padding: 5px 25px 5px 10px;
  position: relative;
  word-break: break-all;
  word-wrap: break-word;

  span {
    cursor: pointer;
    word-wrap: break-word;
  }

  &:first-child {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0;
  }

  span:last-child {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  span:first-child {
    cursor: default;
    float: left;
    margin-left: 0;
    min-width: 140px;
  }
}


.crosslable {
  background: $dark-grey none repeat scroll 0% 0%;
  border-radius: 5px;
  color: $white;
  float: left;
  font-size: $mediumvalue;
  margin-top: 7px;
  padding: 10px 25px 10px 10px;
  position: relative;
  width: 200px;
  word-break: break-all;
  word-wrap: break-word;

  span {
    cursor: pointer;
    line-height: 18px;
    word-wrap: break-word;
  }
}

.cross-block {
  &:last-child {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      opacity: .5;
    }
  }
}
