// Select Style

.small-select {
  width: 70px;
}

.medium-select {
  width: 175px;
}

.large-select {
  width: 280px;
}

.xlarge-select {
  width: 350px;
}

.xxlarge-select {
  width: 420px;
}

.select-width {
  width: $select-width;
}

.customselectinner {
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.customselectwrapper {
  display: inline-block;
  float: left;
  position: relative;
  width: auto;
}

.custom-select {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $dark-grey;
  box-shadow: none;
  color: $dark-blue;
  font-family: $f-f-gotham-m;
  font-size: $small;
  height: 28px;
  left: 0;
  outline: none;
  top: 0;
  z-index: 1;

  option:disabled {
    display: none;
  }

  option {
    font-size: $small;
    padding: 5px;
  }
}

.select-wrapper {
 position: relative;

 &::after {
   background: url('~packs/images/down-arrow.png');
   content: '';
   float: $float-right;
   height: 10px;
   position: absolute;
   right: $gt10;
   top: $gt10;
   width: 16px;
 }

 select {
   cursor: pointer;
 }
}
