//margin top (mt)

.mt5 {
  margin-top: $mt5;
}

.mt10 {
  margin-top: $mt10;
}

.mt15 {
  margin-top: $mt15;
}

.mt20 {
  margin-top: $mt20;
}

.mt25 {
  margin-top: $mt25;
}

.mt30 {
  margin-top: $mt30;
}

.mt35 {
  margin-top: $mt35;
}

.mt40 {
  margin-top: $mt40;
}

.mt45 {
  margin-top: $mt45;
}

.mt50 {
  margin-top: $mt50;
}

.mt100 {
  margin-top: $mt100;
}

.mt-100 {
  margin-top: -100px;
}

%mt5 {
  margin-top: $mt5;
}

%mt10 {
  margin-top: $mt10;
}

%mt15 {
  margin-top: $mt15;
}

%mt20 {
  margin-top: $mt20;
}

%mt25 {
  margin-top: $mt25;
}

%mt30 {
  margin-top: $mt30;
}

%mt35 {
  margin-top: $mt35;
}

%mt40 {
  margin-top: $mt40;
}

%mt45 {
  margin-top: $mt45;
}

%mt50 {
  margin-top: $mt50;
}

//margin bottom (mb)

.mb5 {
  margin-bottom: $mb5;
}

.mb10 {
  margin-bottom: $mb10;
}

.mb15 {
  margin-bottom: $mb15;
}

.mb20 {
  margin-bottom: $mb20;
}

.mb25 {
  margin-bottom: $mb25;
}

.mb30 {
  margin-bottom: $mb30;
}

.mb35 {
  margin-bottom: $mb35;
}

.mb40 {
  margin-bottom: $mb40;
}

.mb45 {
  margin-bottom: $mb45;
}

.mb50 {
  margin-bottom: $mb50;
}

.mb100 {
  margin-bottom: $mb100;
}

%mb5 {
  margin-bottom: $mb5;
}

%mb10 {
  margin-bottom: $mb10;
}

%mb15 {
  margin-bottom: $mb15;
}

%mb20 {
  margin-bottom: $mb20;
}

%mb25 {
  margin-bottom: $mb25;
}

%mb30 {
  margin-bottom: $mb30;
}

%mb35 {
  margin-bottom: $mb35;
}

%mb40 {
  margin-bottom: $mb40;
}

%mb45 {
  margin-bottom: $mb45;
}

%mb50 {
  margin-bottom: $mb50;
}




//margin right (mr)

.mr5 {
  margin-right: $mr5;
}

.mr10 {
  margin-right: $mr10;
}

.mr15 {
  margin-right: $mr15;
}

.mr20 {
  margin-right: $mr20;
}

.mr25 {
  margin-right: $mr25;
}

.mr30 {
  margin-right: $mr30;
}

.mr35 {
  margin-right: $mr35;
}

.mr40 {
  margin-right: $mr40;
}

.mr45 {
  margin-right: $mr45;
}

.mr50 {
  margin-right: $mr50;
}

%mr5 {
  margin-right: $mr5;
}

%mr10 {
  margin-right: $mr10;
}

%mr15 {
  margin-right: $mr15;
}

%mr20 {
  margin-right: $mr20;
}

%mr25 {
  margin-right: $mr25;
}

%mr30 {
  margin-right: $mr30;
}

%mr35 {
  margin-right: $mr35;
}

%mr40 {
  margin-right: $mr40;
}

%mr45 {
  margin-right: $mr45;
}

%mr50 {
  margin-right: $mr50;
}


//margin left (ml)

.ml5 {
  margin-left: $ml5;
}

.ml10 {
  margin-left: $ml10;
}

.ml15 {
  margin-left: $ml15;
}

.ml20 {
  margin-left: $ml20;
}

.ml25 {
  margin-left: $ml25;
}

.ml30 {
  margin-left: $ml30;
}

.ml35 {
  margin-left: $ml35;
}

.ml40 {
  margin-left: $ml40;
}

.ml45 {
  margin-left: $ml45;
}

.ml50 {
  margin-left: $ml50;
}

.m-0-auto {
  margin: 0 auto;
}

%ml5 {
  margin-left: $ml5;
}

%ml10 {
  margin-left: $ml10;
}

%ml15 {
  margin-left: $ml15;
}

%ml20 {
  margin-left: $ml20;
}

%ml25 {
  margin-left: $ml25;
}

%ml30 {
  margin-left: $ml30;
}

%ml35 {
  margin-left: $ml35;
}

%ml40 {
  margin-left: $ml40;
}

%ml45 {
  margin-left: $ml45;
}

%ml50 {
  margin-left: $ml50;
}

%m-0-auto {
  margin: 0 auto;
}

//padding Top (pt)
