// Tooltips
// scss-lint:disable VendorPrefix

button {
  &.close {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
  }
}

.modal-open {
  overflow: hidden;

  &.modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal {
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1050;

  &.in.modal-dialog {
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .modal-dialog {
    -ms-transform: translate(0, -2%);
    -o-transform: translate(0, -2%);
    -webkit-transform: translate(0, -2%);
    transform: translate(0, -2%);
    -o-transition: -o-transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
  }
}

.modal-dialog {
  left: 35%;
  margin: 10px auto;
  position: absolute;
  top: 10%;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 280px;
}

@media screen and (min-width: 630px){
  .modal-dialog {
    width: 490px;
  }
}

.modal-content {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  overflow: hidden;
  position: relative;
}

.modal-backdrop {
  background-color: $modal-bg-blur;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1040;

  &.fade {
    filter: alpha(opacity = 0);
    opacity: 0;
  }

  &.in {
    filter: alpha(opacity = 80);
    opacity: .8;
  }
}

.fade {
  opacity: 0;
  -o-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;

  &.signup-popup.in {
    opacity: 1;
  }
}

.modal-header {
  @extend %pad35;
  @extend %font-medium;
  background: $dark-grey;
  color: $white;
  display: inline-block;
  float: left;
  line-height: $large;
  padding-bottom: 22px;
  padding-top: 22px;
  width: 100%;

  &.close {
    margin-top: -2px;
  }
}

.modal-title {
  line-height: 1.42857143;
  margin: 0;
  text-align: left;
}

.modal-body {
  background: $white;
  display: inline-block;
  float: left;
  padding-top: 15px;
  position: relative;
  width: 100%;

  &.labeldiv {
    @extend %mt5;
  }
}

.modal-body-content {
  @extend %pad35;
  padding-bottom: 30px;
}

.modal-footer {
  @extend %pad35;
  background: $light-grey;
  display: inline-block;
  float: left;
  width: 100%;
}

@media (min-width: 630px) {

  .modal-sm {
    width: 300px;
  }

  .modal-mid {
    width: 500px;
  }
}


