.pt5 {
  padding-top: $pt5;
}

.pt10 {
  padding-top: $pt10;
}

.pt15 {
  padding-top: $pt15;
}

.pt20 {
  padding-top: $pt20;
}

.pt25 {
  padding-top: $pt25;
}

.pt30 {
  padding-top: $pt30;
}

.pt35 {
  padding-top: $pt35;
}

.pt40 {
  padding-top: $pt40;
}

.pt45 {
  padding-top: $pt45;
}

.pt50 {
  padding-top: $pt50;
}

%pt5 {
  padding-top: $pt5;
}

%pt10 {
  padding-top: $pt10;
}

%pt15 {
  padding-top: $pt15;
}

%pt20 {
  padding-top: $pt20;
}

%pt25 {
  padding-top: $pt25;
}

%pt30 {
  padding-top: $pt30;
}

%pt35 {
  padding-top: $pt35;
}

%pt40 {
  padding-top: $pt40;
}

%pt45 {
  padding-top: $pt45;
}

%pt50 {
  padding-top: $pt50;
}

.pb5 {
  padding-bottom: $pb5;
}

.pb10 {
  padding-bottom: $pb10;
}

.pb15 {
  padding-bottom: $pb15;
}

.pb20 {
  padding-bottom: $pb20;
}

.pb25 {
  padding-bottom: $pb25;
}

.pb30 {
  padding-bottom: $pb30;
}

.pb35 {
  padding-bottom: $pb35;
}

.pb40 {
  padding-bottom: $pb40;
}

.pb45 {
  padding-bottom: $pb45;
}

.pb50 {
  padding-bottom: $pb50;
}

%pb5 {
  padding-bottom: $pb5;
}

%pb10 {
  padding-bottom: $pb10;
}

%pb15 {
  padding-bottom: $pb15;
}

%pb20 {
  padding-bottom: $pb20;
}

%pb25 {
  padding-bottom: $pb25;
}

%pb30 {
  padding-bottom: $pb30;
}

%pb35 {
  padding-bottom: $pb35;
}

%pb40 {
  padding-bottom: $pb40;
}

%pb45 {
  padding-bottom: $pb45;
}

%pb50 {
  padding-bottom: $pb50;
}

//padding left (pl)

.pl5 {
  padding-left: $pl5;
}

.pl10 {
  padding-left: $pl10;
}

.pl15 {
  padding-left: $pl15;
}

.pl20 {
  padding-left: $pl20;
}

.pl25 {
  padding-left: $pl25;
}

.pl30 {
  padding-left: $pl30;
}

.pl35 {
  padding-left: $pl35;
}

.pl40 {
  padding-left: $pl40;
}

.pl45 {
  padding-left: $pl45;
}

.pl50 {
  padding-left: $pl50;
}

.pl00 {
  padding-left: $pl100;
}

.pl70 {
  padding-left: $pl70;
}

%pl5 {
  padding-left: $pl5;
}

%pl10 {
  padding-left: $pl10;
}

%pl15 {
  padding-left: $pl15;
}

%pl20 {
  padding-left: $pl20;
}

%pl25 {
  padding-left: $pl25;
}

%pl30 {
  padding-left: $pl30;
}

%pl35 {
  padding-left: $pl35;
}

%pl40 {
  padding-left: $pl40;
}

%pl45 {
  padding-left: $pl45;
}

%pl50 {
  padding-left: $pl50;
}

%pl70 {
  padding-left: $pl70;
}

%pl100 {
  padding-left: $pl100;
}

.pl62 {
  padding-left: 62px;
}



.pr5 {
  padding-right: $pr5;
}

.pr10 {
  padding-right: $pr10;
}

.pr15 {
  padding-right: $pr15;
}

.pr20 {
  padding-right: $pr20;
}

.pr25 {
  padding-right: $pr25;
}

.pr30 {
  padding-right: $pr30;
}

.pr35 {
  padding-right: $pr35;
}

.pr40 {
  padding-right: $pr40;
}

.pr45 {
  padding-right: $pr45;
}

.pr50 {
  padding-right: $pr50;
}

.pr60 {
  padding-right: $pr60;
}

.pr70 {
  padding-right: $pr70;
}

.pr100 {
  padding-right: $pr100;
}


%pr5 {
  padding-right: $pr5;
}

%pr10 {
  padding-right: $pr10;
}

%pr15 {
  padding-right: $pr15;
}

%pr20 {
  padding-right: $pr20;
}

%pr25 {
  padding-right: $pr25;
}

%pr30 {
  padding-right: $pr30;
}

%pr35 {
  padding-right: $pr35;
}

%pr40 {
  padding-right: $pr40;
}

%pr45 {
  padding-right: $pr45;
}

%pr50 {
  padding-right: $pr50;
}

%pr60 {
  padding-right: $pr60;
}

%pr70 {
  padding-right: $pr70;
}

%pr100 {
  padding-right: $pr100;
}

.pr62 {
  padding-right: 62px;
}


.pad5 {
  padding: $pad5;
}

.pad10 {
  padding: $pad10;
}

.pad15 {
  padding: $pad15;
}

.pad25 {
  padding: $pad25;
}

.pad30 {
  padding: $pad30;
}

.pad35 {
  padding: $pad35;
}

%pad5 {
  padding: $pad5;
}

%pad10 {
  padding: $pad10;
}

%pad15 {
  padding: $pad15;
}

%pad25 {
  padding: $pad25;
}

%pad30 {
  padding: $pad30;
}

%pad35 {
  padding: $pad35;
}
