// Radio button

.radiodiv {
  display: inline-block;
  float: left;
  height: 28px;
  min-width: 105px;
  padding: 5px 0;
  width: auto;
}

.radiobutton[type='radio'] {
  display: none;

  + .form-label::before {
    background-image: url('../images/radioButton1.png');
    background-size: cover;
    content: '';
    display: inline-block;
    float: left;
    height: $mediumvalue;
    left: 0;
    position: absolute;
    top: 0;
    width: $mediumvalue;
  }

  + .form-label:hover::before {
    background-image: url('../images/radioButton-fill.png');
  }
}

.radiobutton[type='radio']:checked  + .form-label::before {
  background-image: url('../images/radioButton-fill.png');
}
