// Rating Star

.rating {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 5px 0;
  position: relative;
}

.custom-rating[type='radio'] {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.custom-rating {
  background: url('../images/star2.png');
  display: block;
  float: right;
  height: $mediumvalue;
  margin: 0 5px 0 0;
  width: $mediumvalue;

  &.selected {
    background: url('../images/star1.png');
  }
}

.custom-rating:first-child {
  margin-right: 0;
}

.custom-rating:hover,
.custom-rating:hover ~ .custom-rating,
.custom-rating:checked ~ .custom-rating,
.custom-rating.selected ~ .custom-rating {
  background: url('../images/star1.png');
}

