

.pull-left {
  float: $float-left;
}

.pull-right {
  float: $float-right;
}

%pull-left {
  float: $float-left;
}

%pull-right {
  float: $float-right;
}

.text-left {
  text-align: $text-left;
}

.text-right {
  text-align: $text-right;
}

.text-center {
  text-align: $text-center;
}

.display-center {
  @extend %m-0-auto;
  display: table;
}

.flex-center {
  display: flex;
  flex-direction: column;
}

.block-center-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-display-center {
  color: $dark-grey;
  text-align: $text-center;
  width: 100%;
}

.custom-browse-field {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.border-right {
  background: $light-grey;
  margin: 0 auto;
  width: 1px;
}

.height-custom {
  height: 100%;
}

.fblock {
  display: inline-block;
  padding-bottom: 25px;
  width: 100%;
}

.well-bg {
  background: $lighter-grey;
  border-radius: $border-quarter;
  padding: $pad30;
}

%text-left {
  text-align: $text-left;
}

%text-right {
  text-align: $text-right;
}

%text-center {
  text-align: $text-center;
}

%display-center {
  @extend %m-0-auto;
  display: table;
}

%flex-center {
  display: flex;
  flex-direction: column;
}

%block-center-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%block-display-center {
  color: $dark-grey;
  text-align: $text-center;
  width: 100%;
}

%custom-browse-field {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

%border-right {
  background: $light-grey;
  margin: 0 auto;
  width: 1px;
}

%height-custom {
  height: 100%;
}

%fblock {
  display: inline-block;
  padding-bottom: 25px;
  width: 100%;
}

%well-bg {
  background: $lighter-grey;
  border-radius: $border-quarter;
  padding: $pad30;
}
