.tabs {
  background: $white;
  border-radius: $border-quarter;
  max-width: 100%;
  padding: $gutter;
  width: 900px;

  @include breakpoint(tablet) {
    width: 100%;
  }

  li {
    display: inline-block;
    width: 20%;

    a {
      color: $dark-blue;
      font-family: $f-f-gotham-m;
      font-size: $small;
      padding-bottom: $pb10;
      padding-top: $pt10;
      text-align: $text-center;
      text-decoration: none;
    }
  }
}

.list-block {
  .form-wrapper {
    background: $white;
    margin-top: $mt25;

    select {
      @extend %form-element;
    }
  }
}

.mob-tab {
  .active {
    display: block;
  }

  .hide {
    display: none;
  }
}

.activelink {
  background: $magenta;
  border-radius: $border-quarter;
  color: $white !important; // scss-lint:disable ImportantRule
}

.container {
  .tabs {
    @include breakpoint(mobileonly) {
      text-align: center;
      width: 100%;
    }
  }

  li {
    a {
      @include breakpoint(mobileonly) {
        font-size: $xxsmall;
        padding-left: $pl5;
        padding-right: $pr5;
      }
    }
  }
}
