textarea:placeholder-shown + .input-label {
  cursor: text;
  max-width: 66.66%;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translate(0, -1.5rem) scale(1);
  transform-origin: left top;
  white-space: nowrap;
}

:-webkit-textarea-placeholder {
  opacity: 0;
  transition: inherit;
}


textarea:focus:-webkit-textarea-placeholder {
  opacity: 1;
}


textarea:not(:placeholder-shown) + .input-label,
textarea:focus + .input-label {
  cursor: pointer;
  transform: translate(0, -7rem) scale(1);
}


textarea {
  -webkit-appearance: none;
  position: relative;
  touch-action: manipulation;
  transition: all .2s;
  z-index: 99;

  &:focus {
    border-bottom: 1px solid $light-grey;
    outline: 0;
  }
}
