// scss-lint:disable ImportantRule

html {
  height: 100%;

  @include breakpoint(mobileonly) {
    height: auto;
  }

  @include breakpoint(tablet) {
    height: auto;
  }
}

body {
  height: 100%;

  @include breakpoint(mobileonly) {
    height: auto;
  }

  @include breakpoint(tablet) {
    height: auto;
  }
}

.wrapper {
  height: 100%;

  @include breakpoint(mobileonly) {
    height: auto;
  }

  @include breakpoint(tablet) {
    height: auto;
  }
}

.col-fluid-3 {
  height: 100%;

  @include breakpoint(mobileonly) {
    height: auto;
  }

  @include breakpoint(tablet) {
    height: auto;
  }
}

.login-wrapper {
  height: 100%;

  @include breakpoint(mobileonly) {
    height: auto;
  }

  @include breakpoint(tablet) {
    height: auto;
  }
}

.auth-d-left {
  background: $blue;
  height: 100%;
  padding: $pb50;

  img {
    max-width: 100%;
  }
}

.right-block {
  height: 100%;
  padding: $pr60;

  @include breakpoint(mobileonly) {
    padding: $pr20;
  }

  @include breakpoint(mobileonly) {
    height: auto;
  }

  @include breakpoint(tablet) {
    height: auto;
  }

  .heading-block {
    padding-bottom: $pb50;

    h2 {
      font-size: $xlarge;
    }

    span {
      @extent %mediumValue;
      color: $dark-grey;
    }
  }

  .bottom-image {
    bottom: $gutter;
    position: absolute;
    right: $gutter;

    @include breakpoint(mobileonly) {
      display: none;
    }

    @include breakpoint(tablet) {
      width: 20%;
    }

    img {
      float: $float-right;
      max-width: 50%;
    }
  }
}


.form-group {
  display: inline-block;
  position: relative;
  text-align: $text-left;
  width: 100%;

  label {
    color: $dark-grey;
  }

  input {
    @extend %form-element;
    border-color: $light-grey;
    color: $dark-blue;
    width: $full-width-input;
  }

  select {
    border-color: $light-grey;
    color: $blue;
  }
}

.fa-eye {
  background: url('./../images/eye.png')no-repeat;
  content: '';
  float: $float-right;
  height: 16px;
  position: absolute;
  right: $pl5;
  top: 4px;
  width: 26px;
  z-index: 999;
}

.fa-eye-slash {
  background: url('./../images/eye-slash.png')no-repeat;
  content: '';
  float: $float-right;
  height: 16px;
  position: absolute;
  right: $pl5;
  top: 4px;
  width: 26px;
  z-index: 999;
}

.f-password {
  color: $magenta;
}

.login-btn {
  padding-top: $pt45;

  button {
    padding: $pt15;
    width: $xxlarge-input;

    @include breakpoint(mobileonly) {
      width: 100%;
    }
  }

  span {
    color: $light-grey;
    text-align: $text-center;
    width: 100%;

    a {
      color: $magenta;
      padding-left: $pl5;
      text-decoration: none;
    }
  }
}

.enter-otp {
  color: $dark-grey;
  @extent %mediumValue;
}


.otp-wrapper {
  display: inline-block;
  padding-left: $pl100;
  padding-right: $pr100;
  width: 100%;

  input {
    font-size: $large;
    text-align: $text-center;
  }
}

.resend-b {
  color: $magenta;
  font-weight: $bold;
  padding-left: $pl5;
  text-decoration: none;
}

.mpin-btn {
  .mb25 {
    margin-bottom: $mb25;
  }
}

.upload-btn-wrapper {

  .upload-b-field {
    bottom: 10px;
    cursor: pointer;
    height: 46px;
    opacity: 0;
    position: absolute;
    right: 0;
    width: 80px;
  }
}

.camera-block {
  background: none;
  border: $gutter;
  bottom: $gutter;
  position: absolute;
  right: $gutter;

  img {
    float: $float-right;
    max-width: 80%;
  }
}

.create-profile {
  h2 {
    color: $magenta;
  }
}

.custom-browse-field {
  .user-img {
    border-radius: $border-fifty;
    height: $small-input;
    width: $small-input;
  }
}

.create-profile-form {
  display: inline-block;
  max-width: $full-width-input;
  padding-top: $pt50;

  button {
    width: 100%;
  }
}

.verify {
  color: $magenta;
  position: absolute;
  right: $gutter;
  text-decoration: none;
  top: $gt5;
  z-index: 99;
}

.select-wrapper {
  position: relative;

  &::after {
    background: url('../images/down-arrow.png');
    content: '';
    float: $float-right;
    height: 10px;
    position: absolute;
    right: $gt10;
    top: $gt10;
    width: 16px;
  }

  select {
    -moz-appearance: none;
    cursor: pointer;
  }
}

.kyc-wrapper {
  span {
    color: $dark-grey;
  }
}

.upload-b {
  background: $white;
  border: 1px $dark-grey dashed;
  border-radius: $border-r-large;
  height: 70px;

  .document-img {
    height: 68px;
    width: 135px;
  }

  .camera-block {
    right: 36%;
    text-align: $text-center;
    top: 0;
    width: 100%;
  }
}

.upload-document {

  .upload-b-field {
    bottom: 0;
    cursor: pointer;
    height: 46px;
    opacity: 0;
    position: absolute;
    right: 0;
    width: 80px;
  }

  img {
    max-width: $full-max-width;
  }

}

.upload-btn-f {

  button {
    width: $full-max-width;
  }
}

.pad-none {

  @include breakpoint(mobileonly) {
    padding: 0;
  }
}

