.trade-block {
  .font-xsmall {
    color: $dark-grey;
  }

  .font-small {
    color: $dark-grey;
  }

  .col-fluid-3 {
    .font-small {
      color: $dark-grey;
    }
  }

  .col-fluid-3 {
    @include breakpoint(mobileonly) {
      margin-bottom: $mb15;
    }

    @include breakpoint(tablet) {
      width: 25%;
    }
  }

  .col-fluid-2 {
    @include breakpoint(tablet) {
      width: 16.66%;
    }
  }

  .col-fluid-4 {
    @include breakpoint(tablet) {
      width: 33.33%;
    }
  }

  .font-medium {
     @include breakpoint(tablet) {
      font-size: $small;
    }
  }
}

.content-center {
  @include breakpoint(mobileonly) {
    text-align: $text-center;
  }
}

.rating-block {
  &:last-child {
    margin-bottom: $mb30;
  }
}
