@import 'project/middle-thumbnail-box';

.create-offer-tabs {
  border: 2px $blue solid;
  border-radius: $border-quarter;
  padding: $pad5;

  li {
    float: $float-left;

    a {
      color: $blue;
      padding: 10px 16px !important; // scss-lint:disable ImportantRule
      text-decoration: none;
    }
  }
}

.activebitcoin {
  background: $blue;
  border-radius: $border-quarter;
  color: $white !important; // scss-lint:disable ImportantRule

  .circle-bg {
    background: $white;

    img {
      filter: brightness(1.2);
      margin: 4px auto;
    }
  }
}

.circle-bg {
  background: $blue;
  border-radius: 50%;
  height: 27px;
  left: -10px;
  position: relative;
  top: -4px;
  width: 27px;

  img {
    filter: brightness(10);
    margin: 5px auto;
  }
}

.main-offer-block {
  h3 {
    font-weight: 500;

    span {
      font-weight: $font-bold;
    }
  }

  p {
    @include breakpoint (mobileonly) {
      font-size: $xxsmall;
    }
  }
}

.amount-field-block {
  margin: 35px auto;
  max-width: 490px;
}

.input-label {
  transform: inherit;

  @include breakpoint (mobileonly) {
    font-size: $xsmall;
  }
}

.change {
  background: $magenta;
  border-radius: $border-quarter;
  color: $white;
  padding: 6px 16px;
  text-decoration: none;

  @include breakpoint (mobileonly) {
    font-size: $xxsmall;
    padding: $pad5;
  }

}

.payment-info {
  h3 {
    font-weight: 700;
  }
}

.bank-transfer {
  h3 {
    color: $magenta;
  }
}


/*create-detail-2*/

.acc-detail-section {
  .well-bg {
    border-radius: $border-r-large;
  }
}
