.dropdwon-filter {
  img {
    margin-top: $mt5;
  }
}

.status-type {
  color: $blue;
  font-family: $f-f-gotham-m;
}

.my-offer-block {
  .container {
    margin: 0 auto;
    max-width: 1280px;
  }
}


.my-offers {
  .tabs {
    @extend %display-center;
    @extend %text-center;
    width: auto;

    li {
      width: auto;
    }
  }
}

.tab-block {

  .offer-tabs {

    a {
      padding: 10px 46px;

      @include breakpoint (mobileonly) {
        padding: 10px 23px;
      }

      @include breakpoint (tablet) {
        padding: 10px 38px;
      }
    }
  }
}

.trade-block {
  .col-fluid-3 {
    width: 25%;

    @include breakpoint (mobileonly) {
      width: $full-max-width;
    }
  }

  p {
    font-size: $mediumvalue;
  }
}

.sel {
  color: $magenta;
  min-height: 40px;
  position: relative;

  .options {
    background-color: $lighter-grey;
    border-radius: $border-r-large;
    left: -24px;
    position: absolute;
    top: 40px;
    width: 117px;

    a {
      color: $black;
      padding: $pad10;
      text-decoration: none;
    }
  }
}

.txt {
  padding: $pad10;

  span {
    color: $magenta;
    padding-right: $pr10;
  }

  img {
    margin-top: 4px;
  }
}

.hide {
  display: none;
}

.before-arrow {
  position: relative;

  &::before {
    border-bottom: 5px solid $lighter-grey;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0;
  }

  span {
    padding-left: 10px;
  }
}

.create-offer {
  a {
    background: $magenta;
    border-radius: $border-quarter;
    color: $white;
    padding: 9px 19px;
    text-decoration: none;
  }
}

.top-offers-b {
  position: relative;

  .anchor-block {
    background: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.select-block-field {
  .anchor-block {
    position: inherit;
  }
}
