body {
  background: $lighter-grey;
}

.list {
  .form-wrapper {
    background: $white;
    border-radius: $border-fifteen;
    margin-bottom: $mb15;
    margin-top: $mt25;
  }
}


.btn-profile {
  .col-fluid-6 {
    width: 50%;

    button {
      width: 215px;

      @include breakpoint (mobileonly) {
        width: $full-max-width;
      }
    }
  }
}


.edit-profile-wrapper {
  height: 100%;

  .edit-profile-block {
    height: 100%;

    @include breakpoint (mobileonly) {
      padding: 40px 15px;
    }
  }
}

.select-wrapper {
  .country-select {
    border-color: $light-grey !important;  // scss-lint:disable ImportantRule
    width: $full-max-width;
  }
}

.lname-b {
  @include breakpoint(mobileonly) {
    padding-left: $gutter;
  }
}
