.desc-block {
  padding-bottom: $gutter;
}

.rating-desc {
  .btn-primary {
    &:hover {
      background-color: $magenta;
    }
  }
}

.five-rating {
  background: $light-grey;
  color: $magenta;
  height: 3px;
  margin-left: $ml5;
  margin-right: $mr5;
  position: relative;
  top: -4px;
  width: 60%;

  .full-rate {
    background: $magenta;
    height: 3px;
    position: absolute;
  }
}

.five-rate {
  width: 75%;
}

.four-rate {
  width: 65%;
}

.three-rate {
  width: 55%;
}

.two-rate {
  width: 45%;
}

.one-rate {
  width: 35%;
}

.star-counting {
  @include breakpoint(mobileonly) {
    padding: 0 15px;
  }

  .five-rating {
    @include breakpoint(mobileonly) {
      width: 75%;
    }
  }
}

.tablet-block {
  @include breakpoint(tablet) {
    width: 25%;
  }
}
