.bitcoin-block {
  span {
    vertical-align: top;

    img {
      position: relative;
      top: -2px;
    }
  }

  .rating-block {
    @include breakpoint (mobileonly) {
      margin-bottom: $gutter;
    }
  }
}

.currency-block {
  border-bottom: 1px solid $light-grey;
  padding-bottom: $pb10;
}

.trades-block {
  .col-fluid-6 {
    @include breakpoint (tablet) {
      width: 50%;
    }

    @include breakpoint (mobileonly) {
      padding: $gutter;
    }
  }
}
