.my-offers-section {
  height: 100%;

  .tabs {
    @extend %display-center;
    @extend %text-center;
    width: auto;

    li {
      width: auto;
    }
  }

  .container {
    height: 100%;
  }
}

.tab-block {
  height: 100%;

  .offer-tabs {
    a {
      padding: 10px 46px;

      @include breakpoint (mobileonly) {
        padding: 10px 23px;
      }

      @include breakpoint (tablet) {
        padding: 10px 38px;
      }
    }
  }
}


.my-offer-details {
  .container {
    max-width: 702px;
    width: $full-max-width;

    @include breakpoint (mobileonly) {
      padding-left: $pl15;
      padding-right: $pr15;
    }
  }
}

.thumbnail {
  background: $white;
  border-radius: $border-quarter;
}

.offer-detail-heading {
  h3 {
    background: $blue;
    border-radius: $border-quarter $border-quarter $gutter $gutter;
    color: $white;
    padding: $pt15 $gutter $pb15;
  }
}

.payment-detail-heading {
  h3 {
    background: $blue;
    color: $white;
    padding: $pt10 $gutter $pb10;
  }
}
