@import 'project/middle-thumbnail-box';

.grey-field {
  color: $light-grey;
}

.value-f {
  font-weight: $font-bold;
}

.detail-wrapper-f {
  ul {
    padding: 0 100px;

    @include breakpoint (mobileonly) {
      padding-left: $pl15;
      padding-right: $pr15;
    }

    span {
      font-size: $mediumvalue;
      text-align: left;

      @include breakpoint (mobileonly) {
        font-size: $xsmall;
        width: $half-max-width;
      }

      @include breakpoint (tablet) {
        width: $half-max-width;
      }
    }
  }
}


.txt {
  padding: $pad10;

  span {
    color: $magenta;
    padding-right: $pr10;
  }

  img {
    margin-top: 4px;
  }
}

.hide {
  display: none;
}

.before-arrow {
  position: relative;

  &::before {
    border-bottom: 5px solid $lighter-grey;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0;
  }

  span {
    padding-left: 10px;
  }
}
