$half-max-width: 50%;

%half-max-width {
  width: 50%;
}


.open-trade-wrapper {
  background: $white;
  box-shadow: 0 -2px 17px $dark-grey;

  @include breakpoint (mobileonly) {
    text-align: $text-center;
  }

  .container {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.left-trades {
  h3 {
    font-weight: 500;

    b {
      display: inline-block;
      font-weight: $font-bold;
    }
  }
}

.sel {
  color: $magenta;
  min-height: 40px;
  position: relative;

  .options {
    background-color: $white;
    border-radius: $border-r-large;
    box-shadow: $gutter 1px 2px $dark-grey;
    left: $gutter;
    position: absolute;
    top: 47px;
    width: 117px;
    z-index: 9;

    a {
      color: $black;
      padding: $pad10;
      text-decoration: none;
    }
  }
}

.filter-dropdown {
  @include breakpoint (mobileonly) {
    padding: $pad10;
    width: $full-max-width;

  }

  p {
    background: $magenta;
    border-radius: $border-quarter;
    color: $white;
    padding: 9px 19px;
    position: relative;
    text-decoration: none;
  }

  span {
    color: $black;
  }

}

.before-arrow {
  position: relative;

  &::before {
    border-bottom: 5px solid $white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0;
  }

  span {
    padding-left: 10px;
  }
}


.dropdwon-filter {
  position: relative;

  img {
    margin-top: $gutter;
  }
}

.trade-block {

  .user-icon {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .col-fluid-2 {
    @include breakpoint (mobileonly) {
      padding: $pad10;
    }
  }

  .col-fluid-3 {
    @include breakpoint (mobileonly) {
      padding: $pad10;
    }
  }
}

.buy-btn {
  a {
    background: $magenta;
    border-radius: 25px;
    color: $white;
    padding: 9px 26px;
    text-align: $text-center;
    text-decoration: none;

    @include breakpoint (mobileonly) {
      width: $full-max-width;
    }

    &:hover {
      background: none;
      border: 2px $magenta solid;
      color: $magenta;
    }
  }
}

.sell-btn {
  .eth-field {
    display: inline-block;
    padding: $pad15;
    width: $full-max-width;
  }
}

.top-offers-b {
  p {
    @include breakpoint (mobileonly) {
      display: inline-block;
      width: $full-max-width;
    }
  }
}

.main-trade-block {
  padding: $gutter $pad15;

  .col-fluid-7 {
    @include breakpoint (tablet) {
      width: $half-max-width;
    }
  }

  .col-fluid-5 {
    @include breakpoint (tablet) {
      width: $half-max-width;
    }
  }

  .col-fluid-6 {
    @include breakpoint (tablet) {
      width: $half-max-width;
    }
  }
}
