.modaldialog {
  background: rgba(0, 0, 0, .8);
  bottom: $gutter;
  left: $gutter;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: $gutter;
  top: $gutter;
  transition: opacity 400ms ease-in;
  z-index: 99999;  

  h3 {
    background: $blue;
    border-top-left-radius: $border-r-large;
    border-top-right-radius: $border-r-large;
    color: $white;
  }

  .popup-inner {
    background: $white;
    border-radius: 10px; 
    margin: 10% auto;
    position: relative;
    width: 400px;
  }
}

.modaldialog{
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
}

.close {
  color: $white;
  position: absolute;
  right: 13px;
  text-align: $text-center;
  text-decoration: none;
  top: 12px;

  &:hover {
    color: $white;
  }
}

.popup-body {
  padding: 30px 50px;
}

.popup-btn {
  margin-top: $mt30;
  padding-left: $pl40;
  padding-right: $pr40;
}
