.detail-wrapper {
  .payment-detail-wrapper {
    padding: 0 100px;

    @include breakpoint (mobileonly) {
      padding: 0 $pad15;
    }
  }
}

.timer {
  background: $lighter-grey;
  border-radius: $border-r-large;
  padding: 15px 50px;

  span {
    display: inline-block;
  }
}

.clock-img {
  margin-right: 2px;
  position: relative;
  top: 5px;
}

.set-time {
  font-size: $large;
  font-weight: $font-bold;
}

.payment-option {
  .form-group {
    input {
      border-color: $payment-border;
    }
  }
}

.account-detail {
  padding: $gutter $pad30; 

  @include breakpoint (mobileonly) {
    padding: $gutter;
  }

  li {
    border-bottom: 1px solid $payment-border;
    padding: $pad15 $gutter;

    &:last-child {
      border-bottom: $gutter;
    }
  }
}

.imp-note {
  font-size: $xsmall;
}

.accnt-val {
  font-size: $mediumvalue;
  font-weight: $font-bold;

  @include breakpoint (mobileonly) {
    font-size: $xsmall;
  }
}

.fblock {
  .cancel-btn {
    background: $lighter-grey;
    border: $gutter;
    color: $placeholder-color;

    @include breakpoint (mobileonly) {
      margin-top: $mt15;
    }
  }
}

.payment-buttons {
  padding: $gutter $pad30;
}

.payment-block {
  .col-fluid-6 {
    @include breakpoint (mobileonly) {
      float: left;
      width: 50%;
    }

    @include breakpoint (tablet) {
      float: left;
      width: 50%;
    }
  }

  .col-fluid-5 {

    @include breakpoint (tablet) {
      float: left;
      width: 41.66%;
    }
  }
}
