body {
  background: $lighter-grey;
}

.edit-profile {
  background: $white;
  display: inline-block;
  width: 100%;

  .col-fluid-4 {
    @include breakpoint(mobileonly) {
      margin-bottom: $mb20;
    }
  }

  .container {
    position: relative;
    width: 100%;

    @include breakpoint(desktop) {
      width: 100%;
    }

    @include breakpoint(tablet) {
      width: 100%;
    }
  }

  p {
    line-height: 25px;
  }

  .number {
    color: $dark-blue;
    font-size: $mediumvalue;
    font-weight: bold;
  }

  .trades {
    color: $dark-blue;
    font-size: $small;
  }

  .user-name {
    font-family: $f-f-gotham-m;
  }

  .user-account {
    margin-top: $mt-100;
  }

  .edit-button {
    position: absolute;
    right: 10px;
    top: -75px;

    a {
      color: $dark-blue;
      font-family: $f-f-gotham-m;
      font-size: $xsmall;
      text-decoration: none;
    }

    img {
      position: relative;
      top: -5px;
    }
  }
}

.container {
  .list {
    select {
      border-color: $light-grey;
      width: 100%;
    }
  }
}

.list {
  .form-wrapper {
    border-radius: $border-fifteen;
    margin-bottom: $mb100;

    @include breakpoint(mobileonly) {
      max-width: 100%;
      padding-left: $pl15;
      padding-right: $pr15;
      padding-top: $pt20;
    }

    .verify {
      color: $verified;
      font-family: $f-f-gotham-m;
    }

    .color-white {
      color: $white;
    }
  }
}

.list-block {
  .verify-button {
    color: $white;
    margin-right: $gutter;
    top: -10px;

    &:hover {
      color: $magenta;
    }
  }

  .box-flow {
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
}

.verify-img {
  position: relative;
  top: $gt5;
}

.profile-page {
  height: 100%;

  @include breakpoint(mobileonly) {
    padding: 0 15px;
  }
}

.trades-block {
  .container {
    padding: 0 15px;
    max-width: 1280px;

    span {
      display: inline-block;
    }
  }
}

.font-bold {
  font-weight: bold;
}

.rating-block {
  background: $white;
  border-radius: $border-fifteen;

  span {
    display: inline-block;
  }
}
