body {
  background: $lighter-grey;
}

.list {
  .form-wrapper {
    background: $white;
    border-radius: $border-fifteen;
    margin-bottom: $mb15;
    margin-top: $mt25;
  }
}

.sub-heading {
  h3 {
    color: $blue;
  }
}


.setting-btn {
  button {
    float: $float-right;
    padding: $pad10;
    width: 140px;
  }
}


